Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

remove test only ident
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

feat: leader instance version idents & event (#479)
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

chore: bump sui-rust-sdk to 0.3.1 (#481)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  sdk/Cargo.toml
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/tests/object_crawler_test.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

remove stale entries
  CHANGELOG.md
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

update worksheet
  sdk/src/transactions/dag.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

update ident
  sdk/src/idents/registry.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/agent_input.rs
Due: unittests, SDK Module

address comments
  cli/src/tap/mod.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_scheduled_task.rs
  cli/src/tap/templates/tap/Move.toml.jinja
  cli/src/tap/templates/tap/dag.json.jinja
  cli/src/tap/templates/tap/module.move.jinja
  cli/src/tap/templates/tap/skill.tap.json.jinja
  sdk/src/events/mod.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/payment.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/sui_balance.rs
Due: unittests, CLI Module, SDK Module

add tool registry for skill binding
  CHANGELOG.md
  sdk/src/transactions/tap.rs
Due: unittests, SDK Module

remove stale struct and fix tests
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/faucet.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/authorization.rs
  sdk/src/types/payment.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

fix cli
  cli/src/tap/tap_output.rs
Due: unittests, CLI Module

add notes to event serialization test
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

generate IR and idents
  CHANGELOG.md
  Cargo.lock
  sdk/.just
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/scheduler.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/idents/generated/mod.rs
  sdk/src/idents/mod.rs
  sdk/tests/generate_binding.rs
Due: unittests, SDK Module

DRAFT: feat: use move binding for idents
  CHANGELOG.md
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/.just
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/bin/generate_binding.rs
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/move_std.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/scheduler.json
  sdk/src/idents/generated/ir/sui_framework.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/idents/generated/mod.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/scheduler.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/tests/generate_binding.rs
Due: unittests, CLI Module, SDK Module

chore: use sui mainnet 1.73.2
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

fix: reject tool version 0 (#480)
  CHANGELOG.md
  sdk/src/tool_fqn.rs
Due: unittests, SDK Module

add claude instructions
  CLAUDE.md
  sdk/src/bin/generate_binding.rs
Due: unittests, SDK Module

regenerate + use correct idents
  sdk/.just
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/scheduler.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

use id_type
  sdk/src/transactions/tap.rs
Due: unittests, SDK Module

link via git ref
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

exclude generated from typos
  .typos.toml
Due: none

add test case to generate binding
  sdk/src/bin/generate_binding.rs
Due: unittests, SDK Module

update for module split
  CHANGELOG.md
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_schedule_task.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/events/parsing.rs
  sdk/src/idents/interface.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/scheduler.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/derive.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/workflow.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix tests
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

fix naming
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

use tag for binding
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

chore(idents): regenerate IR from nexus-next split-dag-module branch
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/scheduler.json
  sdk/src/idents/generated/ir/workflow.json
Due: unittests, SDK Module

refactor(idents): replace hand-written tap::TapStandard with generated idents
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

refactor: update for split dag (#485)
  CHANGELOG.md
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_schedule_task.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/events/parsing.rs
  sdk/src/idents/interface.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/scheduler.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/derive.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/workflow.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

rename grant
  docs/cli.md
Due: none

update time
  Cargo.lock
Due: none

chore: use sui mainnet 1.73.2 (#486)
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

update lockfile
  Cargo.lock
Due: none

chore: use `move_binding` for idents (#484)
  .typos.toml
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  docs/cli.md
  sdk/.just
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/bin/generate_binding.rs
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/move_std.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/scheduler.json
  sdk/src/idents/generated/ir/sui_framework.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/idents/interface.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/scheduler.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix(cli): treat default DAG executor agent as shared in ownership check
  cli/src/tap/tap_common.rs
Due: unittests, CLI Module

feat(cli): support default DAG executor in tap schedule-task
  cli/src/tap/mod.rs
  cli/src/tap/tap_schedule_task.rs
Due: unittests, CLI Module

feat(scheduler): route agent-funded task occurrences via new Move entry
  sdk/src/idents/scheduler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

fix(events): allow RequestScheduledOccurrenceEvent from foreign emitters
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

style: cargo +nightly fmt
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_schedule_task.rs
Due: unittests, CLI Module
