Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

feat: simplify offchain tool registration CLI (#434)
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_register_offchain.rs
  sdk/src/nexus/network_auth.rs
Due: unittests, CLI Module, SDK Module

test: add clap constraint tests for --from-meta flag
  cli/src/tool/tool_register_offchain.rs
Due: unittests, CLI Module

feat: built-in --meta flag for bootstrap! macro (#435)
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

docs: update CHANGELOG for #434 and #435
  CHANGELOG.md
Due: none

test: add mock-based test for list_tool_keys
  sdk/src/nexus/network_auth.rs
Due: unittests, SDK Module

feat(cli + client): add `gas balance` and `dag execution-cost` commands and `NexusClient` calls (#433)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/dag/dag_execution_cost.rs
  cli/src/dag/mod.rs
  cli/src/gas/gas_check_balance.rs
  cli/src/gas/mod.rs
  docs/cli.md
  sdk/src/nexus/gas.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/types/nexus_data_parser.rs
Due: unittests, CLI Module, SDK Module

chore: v0.8.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.8.3 (#437)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat : nexus version 0.8.x for sdk-wasm
  Cargo.lock
  sdk-wasm/Cargo.toml
  sdk-wasm/crypto_helpers.ts
  sdk-wasm/package.json
  sdk-wasm/src/crypto.rs
  sdk-wasm/src/dag_execute.rs
  sdk-wasm/src/dag_publish.rs
  sdk-wasm/src/lib.rs
  sdk-wasm/src/scheduler.rs
  sdk-wasm/src/walrus.rs
  sdk-wasm/test.html
  sdk-wasm/tests/dag_validation.test.js
Due: none

feat: simplify offchain tool registration CLI + built-in --meta flag (#436)
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_register_offchain.rs
  sdk/src/nexus/network_auth.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.8.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.8.4 (#439)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

docs: add mainnet/testnet tabs to setup guide
  docs/guides/setup.md
Due: none

style: format markdown files
  docs/guides/setup.md
Due: none

chore: fix comment typo in Cargo.toml
  Cargo.toml
Due: none

docs: add mainnet/testnet tabs to setup guide (#445)
  Cargo.toml
  docs/guides/setup.md
Due: none

feat: leader status templates
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

feat: leader status templates (#447)
  CHANGELOG.md
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

chore: v1.0.0-testnet.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v1.0.0-testnet.1 (#448)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: release 1.0.0
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/math-branching-with-chat.md
  docs/guides/setup.md
  docs/tool-development.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

use table to print tools
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/tool/rustc-ice-2026-04-22T12_45_50-157390.txt
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

remove rust debug lof
  cli/src/tool/rustc-ice-2026-04-22T12_45_50-157390.txt
Due: unittests, CLI Module

chore: release 1.0.0 (#449)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/math-branching-with-chat.md
  docs/guides/setup.md
  docs/tool-development.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat(sdk): add Serialize to Dag wire types
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

feat(sdk): add dag_schema feature emitting Dag JSON Schema
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/types/json_dag.rs
  sdk/src/types/storage_kind.rs
Due: unittests, SDK Module

feat: scaffold nexus-dag-dsl crate
  Cargo.lock
  Cargo.toml
  dag-dsl/.just
  dag-dsl/Cargo.toml
  dag-dsl/src/lib.rs
  justfile
Due: none

feat(dag-dsl): flat relaxed DagBuilder + local validator + DagError
  dag-dsl/src/builder.rs
  dag-dsl/src/error.rs
  dag-dsl/src/lib.rs
  dag-dsl/tests/relaxed_builder.rs
Due: none

feat(dag-dsl): strict typed layer + compile-fail tests
  Cargo.lock
  dag-dsl/Cargo.toml
  dag-dsl/src/lib.rs
  dag-dsl/src/typed.rs
  dag-dsl/tests/compile_fail.rs
  dag-dsl/tests/compile_fail/connect_for_each_wrong_arity.rs
  dag-dsl/tests/compile_fail/connect_for_each_wrong_arity.stderr
  dag-dsl/tests/compile_fail/connect_mismatched_payload.rs
  dag-dsl/tests/compile_fail/connect_mismatched_payload.stderr
  dag-dsl/tests/compile_fail/inline_default_wrong_type.rs
  dag-dsl/tests/compile_fail/inline_default_wrong_type.stderr
  dag-dsl/tests/typed_builder.rs
Due: none

feat(dag-dsl): scoped authoring surface (for_each + do_while closures)
  dag-dsl/src/builder.rs
  dag-dsl/src/lib.rs
  dag-dsl/src/scoped.rs
  dag-dsl/tests/scoped_builder.rs
Due: none

feat(dag-dsl): tool_descriptor! declarative macro
  Cargo.lock
  dag-dsl/Cargo.toml
  dag-dsl/src/lib.rs
  dag-dsl/src/macros.rs
  dag-dsl/tests/tool_descriptor_macro.rs
Due: none

feat: scaffold nexus-dsl-codegen crate + basic codegen
  Cargo.lock
  Cargo.toml
  dsl-codegen/.just
  dsl-codegen/Cargo.toml
  dsl-codegen/src/lib.rs
  dsl-codegen/src/main.rs
  justfile
Due: none

feat: scaffold ts-dsl — TypeScript mirror of nexus-dag-dsl
  ts-dsl/.gitignore
  ts-dsl/package-lock.json
  ts-dsl/package.json
  ts-dsl/src/builder.ts
  ts-dsl/src/error.ts
  ts-dsl/src/index.ts
  ts-dsl/src/scoped.ts
  ts-dsl/src/typed.ts
  ts-dsl/src/types.ts
  ts-dsl/src/validator.ts
  ts-dsl/tests/builder.test.ts
  ts-dsl/tests/roundtrip.test.ts
  ts-dsl/tests/scoped.test.ts
  ts-dsl/tests/typed.test.ts
  ts-dsl/tsconfig.json
Due: none

ci(dsl): cross-language round-trip workflow + READMEs
  .github/workflows/dsl-ci.yml
  dag-dsl/README.md
  ts-dsl/README.md
Due: none

style(sdk): apply rustfmt to json_dag.rs dag_schema helpers
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

feat(dag-dsl): typed scoped layer — ItemPort<T> / StatePort<T>
  dag-dsl/src/lib.rs
  dag-dsl/src/typed.rs
  dag-dsl/tests/compile_fail/scope_collect_mismatched_payload.rs
  dag-dsl/tests/compile_fail/scope_collect_mismatched_payload.stderr
  dag-dsl/tests/compile_fail/scope_consume_mismatched_payload.rs
  dag-dsl/tests/compile_fail/scope_consume_mismatched_payload.stderr
  dag-dsl/tests/compile_fail/scope_feed_state_mismatched_payload.rs
  dag-dsl/tests/compile_fail/scope_feed_state_mismatched_payload.stderr
  dag-dsl/tests/typed_scoped.rs
Due: none

refactoring-001
  cli/src/dag/dag_inspect_execution.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_json.rs
  sdk/src/types/workflow.rs
Due: unittests, CLI Module, SDK Module

refactoring-002
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/dag/dag_inspect_execution.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/workflow.rs
  toolkit-rust/src/config.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
