Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

style: format markdown files
  docs/guides/onchain-tool-development.md
Due: none

chore: remove old comment
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

chore: remove old object from comments
  sdk/src/onchain_schema_gen/input.rs
Due: unittests, SDK Module

refactor: update register command in docs
  docs/guides/onchain-tool-development.md
Due: none

feat: add changelog
  CHANGELOG.md
Due: none

refactor: make over_gas option
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/prelude.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
Due: unittests, CLI Module

Better docs for crypto operations (#323)
  docs/cli.md
  docs/guides/setup.md
Due: none

ci: install dbus on Linux release
  .github/workflows/release.yml
Due: none

updated nexus client
  Cargo.toml
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_inspect.rs
  sdk/Cargo.toml
  sdk/src/events.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/lib.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
Due: unittests, CLI Module, SDK Module

fix docs
  docs/cli.md
Due: none

ci: install dbus on Linux release (#324)
  .github/workflows/release.yml
Due: none

build(cli): use vendored version of dbus-secret-service crate
  Cargo.lock
  cli/Cargo.toml
Due: unittests, CLI Module

build: add cross config for consistent musl builds
  Cross.toml
Due: none

build: fix `keyring` and `dbus` cross-compilation on `musl` target (#325)
  Cargo.lock
  Cross.toml
  cli/Cargo.toml
Due: unittests, CLI Module

feat: add collateral to onchain tools
  cli/src/tool/mod.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

chore: nightly fmt
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

fix: md lint
  CHANGELOG.md
Due: none

refactor: use better loading messages
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

chore: remove parenthesis in empty print
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

refactor: better input output schema customization
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

refactor: use MoveModuleId as cli arg
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/sui.rs
Due: unittests, CLI Module, SDK Module

refactor: modify docs for new modulepath arg
  docs/guides/onchain-tool-development.md
Due: none

updated handshake to new flow
  cli/src/cli_conf.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_key_status.rs
  cli/src/dag/dag_execute.rs
  docs/guides/setup.md
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crypto.rs
  sdk/src/test_utils/containers.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  tools/exchanges-coinbase/src/main.rs
  tools/http/src/errors.rs
  tools/http/src/http.rs
  tools/http/src/http_client.rs
  tools/http/src/models.rs
  tools/social-twitter/src/main.rs
Due: unittests, CLI Module, SDK Module, Tools

changelog
  CHANGELOG.md
Due: none

chore: remove unused constants
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

fix: revert dynamic_fetch_one to crate only
  sdk/src/object_crawler/fetching.rs
Due: unittests, SDK Module

refactor : new dag execution design.
  Cargo.lock
  sdk-wasm/Cargo.toml
  sdk-wasm/src/crypto.rs
  sdk-wasm/src/dag_execute.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ptb for claim and fullfil
  sdk/src/transactions/crypto.rs
Due: unittests, SDK Module

bump package version
  Cargo.lock
  Cargo.toml
Due: none

[0.4.0]Request `pre-key` for encryption (#326)
  CHANGELOG.md
  cli/src/cli_conf.rs
  docs/guides/setup.md
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crypto.rs
  sdk/src/transactions/crypto.rs
  tools/exchanges-coinbase/src/main.rs
  tools/http/src/errors.rs
  tools/http/src/http.rs
  tools/social-twitter/src/main.rs
Due: unittests, CLI Module, SDK Module, Tools

feat: dissect tool registration func and add tests
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

chore: cargo fmt
  cli/src/tool/tool_register_onchain.rs
  sdk/src/sui.rs
Due: unittests, CLI Module, SDK Module

chore: 0.3.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: add onchain tools to nexus (#290)
  CHANGELOG.md
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/prelude.rs
  cli/src/tool/mod.rs
  cli/src/tool/templates/move/.gitignore.jinja
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/templates/move/tests.move.jinja
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_validate.rs
  docs/guides/onchain-tool-development.md
  sdk/Cargo.toml
  sdk/src/dag/_dags/conditional_onchain_tool.json
  sdk/src/dag/_dags/double_onchain_tool.json
  sdk/src/dag/_dags/guide_onchain_tool.json
  sdk/src/dag/_dags/single_onchain_tool.json
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/lib.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/move/onchain_tool_test/Move.toml
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: unittests, CLI Module, SDK Module

fix: Prevent URL scheme injection attacks in meta_handler
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

cargo +nightly fmt
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

test: check invalid scheme in meta endpoint
  toolkit-rust/tests/integration.rs
Due: none

revert: show full error details in message
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust
