Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

remove absolute paths from CLAUDE.md
  CLAUDE.md
Due: none

feat: add max budget to leader registry
  sdk/src/types/leader_registry.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

improve leader registry coverage
  sdk/src/types/leader_registry.rs
Due: unittests, SDK Module

remove specific instruction
  CLAUDE.md
Due: none

remove extraneous comment
  cli/src/dag/dag_inspect_execution.rs
Due: unittests, CLI Module

feedback
  docs/guides/1-tap-development.md
Due: none

remove vertex auth cap and re-run e2e
  CHANGELOG.md
  CLAUDE.md
  cli/src/dag/dag_execute.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  docs/guides/1-tap-development.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

remove internal command description
  cli/src/dag/mod.rs
Due: unittests, CLI Module

hotfix: tool list for invalid fqn
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

bump patch version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: tap devguide (#464)
  CHANGELOG.md
  CLAUDE.md
  cli/src/dag/dag_inspect_execution.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  docs/guides/1-tap-development.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  docs/index.md
  sdk/src/idents/registry.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

hotfix: tool list for invalid fqn (#473)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: add max budget to leader registry (#472)
  CHANGELOG.md
  sdk/src/types/leader_registry.rs
Due: unittests, SDK Module

feat: remove execution checkpoint arg from inspect (#471)
  CHANGELOG.md
  CLAUDE.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/mod.rs
  docs/cli.md
  docs/client.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/leader_registry.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

simplify agent and skill onchain records
  cli/src/tap/mod.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_create_agent.rs
  cli/src/tap/tap_output.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/registry.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

simplify endpoints and policies
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_register_skill.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_schedule.rs
  cli/src/tap/tap_schedule_address_funded.rs
  cli/src/tap/tap_update_skill.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

chore: cherry-pick 1.0.1 hotfix (#474)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v2.0.0-rc.2
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: `v2.0.0-rc.2` (#477)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

update command to support skill publish and clean stale tap id inputs
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_register_skill.rs
  docs/cli.md
  docs/guides/1-tap-development.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  sdk/src/nexus/tap.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

style: format markdown files
  CHANGELOG.md
Due: none

unify name for default entries
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_default_agent.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_schedule_address_funded.rs
  docs/cli.md
  docs/guides/1-tap-development.md
  docs/guides/5-tap-publish-and-register.md
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix typo
  CHANGELOG.md
Due: none

update doc
  docs/cli.md
  docs/client.md
  docs/guides/1-tap-development.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/6-tap-execute-and-settle.md
  docs/guides/dag-construction.md
  docs/guides/tool-communication.md
Due: none

feat: leader instance version idents & event
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

fix: reject tool version 0
  sdk/src/tool_fqn.rs
Due: unittests, SDK Module

kac
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

remove stale line
  CHANGELOG.md
Due: none

feat: update abort command (#470)
  CHANGELOG.md
  cli/src/dag/dag_abort_expired_execution.rs
  cli/src/dag/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

Potential fix for pull request finding
  CHANGELOG.md
Due: none

chore: bump sui-rust-sdk to 0.3.1
  CHANGELOG.md
  Cargo.lock
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  sdk/Cargo.toml
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/tests/object_crawler_test.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

use sui mainnet-1.72.5
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

use testnet-v1.73.1
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

add idents and use sdk 1.72.5
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/idents/sui_framework.rs
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
