Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

added cli command
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_update_timeout.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/tool.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

docs
  docs/cli.md
Due: none

remove tool registry from request network
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

address feedback
  cli/src/tool/mod.rs
  docs/cli.md
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

fix: event poller max batch
  sdk/src/events/polling.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

add tracing to poller
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

chore: fmt
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

ignore stale streamed cps
  sdk/src/events/polling.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

feat: ava-game support (#422)
  CHANGELOG.md
  sdk/src/idents/workflow.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

[0.8.0] feat: event max batch size enforced + skipping stale streamed checkpoints (#424)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

[0.8.0] feat: tool timeout support and configuration (#421)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/tool/mod.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_update_timeout.rs
  docs/cli.md
  sdk/Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/tool.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool_meta.rs
  toolkit-rust/src/nexus_tool.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: make sure inspect keeps alive
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

chore: v0.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.8.0 (#425)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: support LinkedTable dynamic field deserialization
  sdk/src/nexus/crawler.rs
Due: unittests, SDK Module

fix: tool registry schema, openssl and testnet presets
  Cargo.toml
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

change tags to 0.8.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: tool registry schema, openssl and testnet presets (#428)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: switch reqwest to rustls-tls for musl cross-compilation
  Cargo.toml
  toolkit-rust/Cargo.toml
Due: unittests, Toolkit Rust

ci: run release build on PRs without publishing artifacts
  .github/workflows/release.yml
Due: none

chore: update Cargo.lock for rustls-tls switch
  Cargo.lock
Due: none

fix: switch reqwest to rustls-tls for musl cross-compilation
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: unittests, CLI Module

chore: update Cargo.lock for url dependency
  Cargo.lock
Due: none

fix: switch reqwest to rustls-tls for musl cross-compilation (#430)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  toolkit-rust/Cargo.toml
Due: unittests, CLI Module, Toolkit Rust

hotfix: v0.8.1 to `main` (#429)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_list.rs
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/Cargo.toml
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

tag 0.8.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

hotfix: tag v0.8.2 (#431)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: update setup docs to point to testnet
  docs/guides/setup.md
Due: none

clarify the need for 2 coins
  docs/guides/setup.md
Due: none

chore: update setup docs to point to testnet (#432)
  docs/guides/setup.md
Due: none

added balance command
  cli/src/gas/gas_check_balance.rs
  cli/src/gas/mod.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/models.rs
Due: unittests, CLI Module, SDK Module

add execution cost command
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/dag/dag_execution_cost.rs
  cli/src/dag/mod.rs
  cli/src/gas/gas_check_balance.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

add tests
  sdk/src/nexus/gas.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

better parsing error + model tests
  cli/src/gas/gas_check_balance.rs
  sdk/src/nexus/models.rs
  sdk/src/types/nexus_data_parser.rs
Due: unittests, CLI Module, SDK Module

cli docs + changelog
  CHANGELOG.md
  docs/cli.md
Due: none

remove extraneous comments
  cli/src/dag/dag_execution_cost.rs
  cli/src/gas/gas_check_balance.rs
Due: unittests, CLI Module

copilot comments
  cli/src/dag/dag_execution_cost.rs
  docs/cli.md
  sdk/src/nexus/gas.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/types/nexus_data_parser.rs
Due: unittests, CLI Module, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
