Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

refactor : refactor for tool input.
  tools/prompt-template/README.md
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor : arg insert logic validation refactor.
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor : comments replaced.
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor : strict mode replaced with chainable
  tools/prompt-template/src/template.rs
Due: unittests, Tools

export dynamic fields read
  sdk/src/object_crawler/fetching.rs
Due: unittests, SDK Module

add inspect and mock sui rpc tests for client
  cli/src/dag/dag_inspect_execution.rs
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui.rs
  sdk/src/test_utils/mod.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, CLI Module, SDK Module

some clippy fixes
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

remove unused imports
  sdk/src/nexus/error.rs
Due: unittests, SDK Module

nexus client workflow execute
  cli/src/dag/dag_execute.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/types/ports_data.rs
Due: unittests, CLI Module, SDK Module

add budget now fetches coin by ID
  cli/src/dag/dag_execute.rs
  cli/src/gas/gas_add_budget.rs
  sdk/src/nexus/gas.rs
Due: unittests, CLI Module, SDK Module

fix: change string arg type description to support vec
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

feat: add sui AccountAddress to sdk
  sdk/src/sui.rs
Due: unittests, SDK Module

extract nexus data parser, rc.1 and changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
Due: unittests, SDK Module

change walrus epochs to u8
  cli/src/cli_conf.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/walrus/client.rs
Due: unittests, CLI Module, SDK Module

fix : test fixed for UndefinedBehavior
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix u8 in tests and tools
  sdk/tests/walrus_client_test.rs
  tools/storage-walrus/src/upload_file.rs
  tools/storage-walrus/src/upload_json.rs
Due: unittests, Tools

remove ratched advance from execute
  cli/src/dag/dag_execute.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

remove unused import
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

add sync persistent flag to keyring
  .github/actions/coverage/action.yml
  .github/actions/pre-commit/dependencies/action.yml
  Cargo.lock
  cli/Cargo.toml
Due: unittests, CLI Module

fix : template design for undefined values.
  tools/prompt-template/src/template.rs
Due: unittests, Tools

[0.3] Remote storage support storage in SDK and CLI (#302)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_generate_id_key.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/crypto/mod.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/mod.rs
  cli/src/main.rs
  cli/src/prelude.rs
  docs/cli.md
  sdk/Cargo.toml
  sdk/src/crypto/session.rs
  sdk/src/crypto/x3dh.rs
  sdk/src/events.rs
  sdk/src/idents/primitives.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/storage_kind.rs
  sdk/src/types/type_name.rs
  sdk/src/walrus/client.rs
  sdk/tests/walrus_client_test.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/secret.rs
  toolkit-rust/src/serde_tracked.rs
  tools/llm-openai-chat-completion/README.md
  tools/llm-openai-chat-completion/src/main.rs
  tools/storage-walrus/src/upload_file.rs
  tools/storage-walrus/src/upload_json.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

refactor: change args field in Input struct from Option to HashMap
  tools/prompt-template/README.md
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: simplify validation logic for name and value
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: enhance validation logic for input name and value consistency
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: improve input validation by consolidating name and value checks
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: clarify template retrieval error message
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: enhance template rendering by preserving undefined variable placeholders
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor : prompt-template -> templating-ninja
  Cargo.lock
  tools/prompt-template/src/main.rs
  tools/templating-jinja/Cargo.toml
  tools/templating-jinja/README.md
  tools/templating-jinja/src/main.rs
  tools/templating-jinja/src/template.rs
Due: unittests, Tools

fixed tests
  CHANGELOG.md
  sdk/src/transactions/dag.rs
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

get event name
  sdk/src/events.rs
Due: unittests, SDK Module

added client documentation
  docs/client.md
Due: none

changelog
  CHANGELOG.md
Due: none

fix comments
  cli/src/dag/mod.rs
  sdk/src/crypto/session.rs
  sdk/src/types/nexus_data.rs
Due: unittests, CLI Module, SDK Module

refactor : refactor for chainable templates
  tools/templating-jinja/src/template.rs
Due: unittests, Tools

refactor : template whitespace management
  tools/templating-jinja/src/template.rs
Due: unittests, Tools

fix: move merged functions to diff impl
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

chore: set ordered list item prefix to 1
  docs/guides/onchain-tool-development.md
Due: none

chore: add links to docs
  docs/guides/onchain-tool-development.md
Due: none

feat : Templating Jinja tool (#309)
  Cargo.lock
  tools/templating-jinja/Cargo.toml
  tools/templating-jinja/README.md
  tools/templating-jinja/src/main.rs
  tools/templating-jinja/src/template.rs
Due: unittests, Tools

fix merge
  Cargo.lock
Due: none

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
