Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

small fix
  cli/src/scheduler/task/task_inspect.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/types/scheduler.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, CLI Module, SDK Module

unified map usage
  cli/src/scheduler/task/task_inspect.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/types/scheduler.rs
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

multi meta + contracts
  sdk/src/lib.rs
  sdk/src/nexus/crawler.rs
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
Due: unittests, SDK Module

fix scheduler api
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/events.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/scheduler.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, CLI Module, SDK Module

support gql in test containers
  Cargo.lock
  cli/src/tool/tool_register_onchain.rs
  sdk/Cargo.toml
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

adjust data parsing for grpc
  cli/Cargo.toml
  cli/src/tool/tool_list.rs
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/mod.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

final adjustments
  .gitignore
  cli/Cargo.toml
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, CLI Module

setup iptables
  .github/actions/coverage/action.yml
Due: none

setup docker
  .github/actions/coverage/action.yml
Due: none

add defaults from env to CLI
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
Due: unittests, CLI Module

change pk to load from base64 bytes
  Cargo.lock
  cli/Cargo.toml
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/sui.rs
Due: unittests, CLI Module

fetch collaterals automatically
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

remove unused import
  cli/src/tool/tool_register_offchain.rs
Due: unittests, CLI Module

revert arg position
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

chore: bump license year to 2026
  LICENSE
Due: none

feat: use move summary for schema generation
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/summary.rs
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, CLI Module, SDK Module

fix: err handling summary command
  sdk/src/onchain_schema_gen/summary.rs
Due: unittests, SDK Module

scheduler fix
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

fix argument order
  sdk/src/transactions/dag.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

feat: use default execute parameter names
  docs/guides/onchain-tool-development.md
  sdk/src/dag/_dags/conditional_onchain_tool.json
  sdk/src/dag/_dags/double_onchain_tool.json
  sdk/src/dag/_dags/guide_onchain_tool.json
  sdk/src/dag/_dags/single_onchain_tool.json
  sdk/src/onchain_schema_gen/summary.rs
Due: unittests, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

chore: fmt
  cli/src/tool/tool_register_onchain.rs
  sdk/src/onchain_schema_gen/mod.rs
Due: unittests, CLI Module, SDK Module

fix comments and docs
  docs/client.md
  sdk/src/nexus/signer.rs
Due: unittests, SDK Module

support 33 and 32 byte pk
  cli/src/sui.rs
Due: unittests, CLI Module

fix: scheduler type layout
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

support 33 and 32 byte pk (#346)
  cli/src/sui.rs
Due: unittests, CLI Module

fix doc and extract helper
  sdk/src/events/fetching.rs
Due: unittests, SDK Module

ci(release): update license file path
  .github/workflows/release.yml
Due: none

extract MIST_PER_SUI and use rpc_url
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/prelude.rs
  cli/src/scheduler/task/task_inspect.rs
  cli/src/sui.rs
  cli/src/tool/tool_list.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui.rs
  sdk/src/test_utils/nexus_mocks.rs
Due: unittests, CLI Module, SDK Module

revert all unsafe statements
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_generate_id_key.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/prelude.rs
Due: unittests, CLI Module

grpc: crates, idents and transaction templates (#333)
  .gitignore
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

grpc: NexusClient and ObjectCrawler (#335)
  docs/client.md
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/object_crawler/fetching.rs
  sdk/src/object_crawler/mod.rs
  sdk/src/object_crawler/wrappers.rs
Due: unittests, SDK Module

grpc: other SDK changes (#336)
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/dag/validator.rs
  sdk/src/events.rs
  sdk/src/lib.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/faucet.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/mod.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/tool_fqn.rs
  sdk/src/walrus/client.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

tests: scheduler & crawler
  sdk/src/nexus/crawler.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
  sdk/tests/scheduler_test.rs
Due: unittests, SDK Module

grpc: SDK types & events (#334)
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/mod.rs
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/storage_kind.rs
  sdk/src/types/tool_meta.rs
Due: unittests, SDK Module

wrap pk in secret value
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  sdk/src/types/mod.rs
  sdk/src/types/secret_value.rs
Due: unittests, CLI Module, SDK Module

improve coin fetching interface and comment
  cli/src/sui.rs
Due: unittests, CLI Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
