Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

use 1:1 mapping
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/mod.rs
  sdk/src/types/shared_object_ref.rs
Due: unittests, SDK Module

changelopg
  CHANGELOG.md
Due: none

feat: signed http
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/signed_http/keys.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
Due: unittests, SDK Module

feat: toolkit signed http runtime
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

feat: cli and network auth
  CHANGELOG.md
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_signed_http.rs
  docs/cli.md
  docs/client.md
  docs/guides/setup.md
  docs/guides/tool-communication.md
  docs/guides/tool-firewall.md
  docs/index.md
  docs/tool-development.md
  docs/toolkit-rust.md
  sdk/README.md
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/types/mod.rs
  sdk/src/types/network_auth.rs
  sdk/src/types/nexus_objects.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: sync lockfile
  Cargo.lock
Due: none

chore: update lock
  Cargo.lock
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: improve doc comments
  CHANGELOG.md
  sdk/src/signed_http/keys.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1/engine.rs
Due: unittests, SDK Module

fix : cargo.lock updated.
  Cargo.lock
Due: none

chore: fix lock
  Cargo.lock
Due: none

[0.6.0] feat: use `SharedObjectRef` in announce event (#374)
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/mod.rs
  sdk/src/types/shared_object_ref.rs
Due: unittests, SDK Module

fix: inline the single use function
  sdk/src/signed_http/v1/engine.rs
Due: unittests, SDK Module

fix: review comments
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/error.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
Due: unittests, SDK Module

fix: review comments
  toolkit-rust/src/config.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

fix: review comments
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  docs/cli.md
  docs/client.md
  docs/guides/tool-communication.md
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/mod.rs
Due: unittests, CLI Module, SDK Module

fix: merge issues
  toolkit-rust/src/config.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

feat: added network auth struct
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

fix: tool auth naming
  CHANGELOG.md
  cli/src/tool/mod.rs
  docs/cli.md
  docs/client.md
  docs/guides/tool-communication.md
Due: unittests, CLI Module

Update toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/nexus_tool.rs
Due: unittests, Toolkit Rust

refactor: move tool_output to primitives package
  cli/src/tool/templates/move/tool.move.jinja
  docs/guides/onchain-tool-development.md
  sdk/src/idents/workflow.rs
Due: unittests, CLI Module, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

refactor: change tool_output to tagged_output
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  docs/guides/onchain-tool-development.md
  sdk/src/idents/workflow.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: unittests, CLI Module, SDK Module

chore: fmt
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

chore: modify changelog
  CHANGELOG.md
Due: none

refactor: Move tool_output to primitives package (#378)
  CHANGELOG.md
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  docs/guides/onchain-tool-development.md
  sdk/src/idents/workflow.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: unittests, CLI Module, SDK Module

feat: secret
  sdk/src/crypto/session.rs
  sdk/src/types/mod.rs
  sdk/src/types/secret.rs
  sdk/src/types/secret_value.rs
Due: unittests, SDK Module

chore: update readme
  README.md
Due: none

chore: update codecov.yml
  codecov.yml
Due: none

chore: no need to add an entry to the changelog
  CHANGELOG.md
Due: none

fix: remove unecesasyr export
  toolkit-rust/src/lib.rs
Due: unittests, Toolkit Rust

[0.6.0]feat: Signed http (#371)
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/signed_http/keys.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/error.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
Due: unittests, SDK Module
