Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

changelog
  CHANGELOG.md
Due: none

[0.7.0] feat: adjust templates and events for gas locking (#413)
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

rough shapes of grpc event polling service
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix tests and remove gql references
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/sui.rs
  cli/src/tool/tool_register_onchain.rs
  docs/client.md
  docs/guides/setup.md
  sdk/Cargo.toml
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/mod.rs
  sdk/src/events/graphql/schema-1.65.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

add some tests for polling
  cli/src/tool/tool_validate.rs
  sdk/src/events/polling.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/runtime_vertex.rs
Due: unittests, CLI Module, SDK Module

correct many data deser
  sdk/src/events/parsing.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

remove tonic import
  sdk/src/events/polling.rs
Due: unittests, SDK Module

feat: add leader stamp ident
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

renamed param to be more expressive
  sdk/src/events/polling.rs
Due: unittests, SDK Module

chore: sui testnet-v1.66.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, CLI Module, SDK Module

add back vendored openssl
  Cargo.toml
Due: none

remove openssl again
  Cargo.toml
Due: none

revert reqwest version
  Cargo.lock
  Cargo.toml
Due: none

use 1.67.3 instead
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

fix container tag
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

[0.7.0] feat: drop graphQL dependency (#414)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/sui.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_validate.rs
  docs/client.md
  docs/guides/setup.md
  sdk/Cargo.toml
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/mod.rs
  sdk/src/events/graphql/schema-1.65.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

[0.7.0] chore: sui `mainnet-v1.67.3` (#415)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, CLI Module, SDK Module

chore: v0.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.7.0 (#417)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: adjust timer
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix: preserve checkpoint association across transaction batches
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fetch checkpoints in parallel
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix tests
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix: static edge kind support
  CHANGELOG.md
  sdk/src/dag/_dags/double_do_while_static_valid.json
  sdk/src/dag/validator.rs
  sdk/src/idents/workflow.rs
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

optimize checkpoint processing
  sdk/src/events/polling.rs
Due: unittests, SDK Module

add more metrics
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

more metrics
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix: static edge kind support (#418)
  CHANGELOG.md
  sdk/src/dag/_dags/double_do_while_static_valid.json
  sdk/src/dag/validator.rs
  sdk/src/idents/workflow.rs
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

fix grpc reconnect issue
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix walk inspection bug
  cli/src/dag/dag_inspect_execution.rs
Due: unittests, CLI Module

feat: stamp worksheet with execution id
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

chore: fix formatting and clippy warnings
  sdk/src/events/polling.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

feat: add workflow package upgrade awareness to NexusObjects
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

fix: use original package address for type matching after upgrade
  cli/src/sui.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

test: add coverage for package upgrade awareness in NexusObjects
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

style: fix nightly rustfmt formatting
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

fix: event poller checkpoint tracking and parallel fetch (#419)
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/sui.rs
  sdk/Cargo.toml
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

add timeout to tx templates and tool meta and registration
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool_meta.rs
  toolkit-rust/src/nexus_tool.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix ptb template
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module
