Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix: docs
  README.md
  cli/README.md
  cli/src/main.rs
  docs/cli.md
  docs/client.md
  docs/index.md
Due: unittests, CLI Module

[0.5.0] Fix/grpc scheduler (#343)
  .gitignore
  CHANGELOG.md
  README.md
  cli/README.md
  cli/src/main.rs
  docs/cli.md
  docs/client.md
  docs/index.md
  sdk/src/crypto/x3dh.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/containers.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
  sdk/tests/scheduler_test.rs
Due: unittests, CLI Module, SDK Module

adjust scheduler ptbs for party objects
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

refactor: combine tool registry functions
  cli/src/tool/tool_register_onchain.rs
  sdk/src/idents/workflow.rs
Due: unittests, CLI Module, SDK Module

fix ptb to use party leader cap
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

fix: scheduler party objects (#366)
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

fix: event polling error handling and handshake PTB
  sdk/src/events/fetching.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/crypto.rs
Due: unittests, SDK Module

fix: event polling error handling and handshake PTB (#368)
  sdk/src/events/fetching.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/crypto.rs
Due: unittests, SDK Module

fix: add back object mutability field
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

[0.5.0] fix: Add back object mutability field (#369)
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

feat: use stable toolchain again (#365)
  CHANGELOG.md
  rust-toolchain.toml
Due: none

docs(cli): update setup instructions
  docs/cli.md
  docs/guides/setup.md
Due: none

feat(cli): use verbosity flag for logger
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/main.rs
Due: unittests, CLI Module

revert: rust-toolchain
  rust-toolchain.toml
Due: none

docs: changfes for `--verbose` flag
  CHANGELOG.md
Due: none

feat(cli): enable global `--verbose` log (#362)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/main.rs
Due: unittests, CLI Module

feat: signed http
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, SDK Module, Toolkit Rust

fix(cli): initialize the global logger
  cli/src/main.rs
Due: none

refactor: return result instead of option for toollocation functions
  sdk/src/tool_location.rs
Due: unittests, SDK Module

refactor: move parsing to toollocation
  cli/src/tool/tool_list.rs
  sdk/src/tool_location.rs
Due: unittests, CLI Module, SDK Module

fix: add missing fields in list
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

fix(cli): initialize the global logger (#372)
  cli/src/main.rs
Due: none

refactor: add witness id to toollocation
  cli/src/tool/tool_list.rs
  sdk/src/tool_location.rs
Due: unittests, CLI Module, SDK Module

fix: witness id in tool list
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

docs(cli): update setup instructions (#370)
  docs/cli.md
  docs/guides/setup.md
Due: none

refactor: toollocation to toolref
  CHANGELOG.md
  cli/src/tool/tool_list.rs
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/tool_ref.rs
Due: unittests, CLI Module, SDK Module

chore: fix cargo toml
  sdk/Cargo.toml
Due: unittests, SDK Module

chore: fmt
  sdk/src/tool_ref.rs
Due: unittests, SDK Module

[0.5.0] refactor: Unify tool info and locations for both tool variants (#361)
  CHANGELOG.md
  cli/src/tool/tool_list.rs
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/tool_ref.rs
Due: unittests, CLI Module, SDK Module

[0.5.0] refactor: Merge some functions in tool_registry.move (#367)
  CHANGELOG.md
  cli/src/tool/tool_register_onchain.rs
  sdk/src/idents/workflow.rs
Due: unittests, CLI Module, SDK Module

chore: v0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v0.5.0 (#373)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: add tap_by_ref_mut to announce event
  sdk/src/events/mod.rs
Due: unittests, SDK Module

rename field
  sdk/src/events/mod.rs
Due: unittests, SDK Module

fix test and add changelog
  CHANGELOG.md
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

testing serial exec
  sdk/src/nexus/signer.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

test
  sdk/src/test_utils/contracts.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

cleanup a bit
  sdk/src/nexus/signer.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
