Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

[0.6.0]Toolkit rust signed communication (#376)
  CHANGELOG.md
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

fix: precommit happy
  cli/src/tool/tool_auth.rs
  sdk/src/nexus/network_auth.rs
Due: unittests, CLI Module, SDK Module

[0.6.0]feat/tool leader communication sdk/cli (#375)
  CHANGELOG.md
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  docs/cli.md
  docs/client.md
  docs/guides/setup.md
  docs/guides/tool-communication.md
  docs/guides/tool-firewall.md
  docs/index.md
  docs/tool-development.md
  docs/toolkit-rust.md
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/crypto/session.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/types/mod.rs
  sdk/src/types/network_auth.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/secret.rs
  sdk/src/types/secret_value.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: restore the guides
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-dag-builder.md
  docs/guides/math-branching-dag-entry.md
  docs/guides/math-branching-quickstart.md
  docs/guides/math-branching-with-chat.md
Due: none

adjust templates and events for derived tool objects
  CHANGELOG.md
  Cargo.lock
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/sui.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/workflow.rs
  sdk/src/lib.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/tool_ref.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

feat : nexus v0.5.0 wasm.
  sdk-wasm/package.json
  sdk-wasm/src/crypto.rs
  sdk-wasm/src/dag_execute.rs
  sdk-wasm/src/dag_publish.rs
  sdk-wasm/src/lib.rs
  sdk-wasm/src/scheduler.rs
Due: none

cleanup from merge
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

tool list, clippy and tests
  CHANGELOG.md
  cli/src/conf/conf_set.rs
  cli/src/tool/tool_list.rs
  cli/src/utils/secrets/mod.rs
  sdk/src/events/fetching.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/signer.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool.rs
  toolkit-rust/src/config.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

update lock file
  Cargo.lock
Due: none

use released schemars
  Cargo.toml
Due: none

fix unregister ident
  sdk/src/idents/workflow.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

fix toml formatting
  sdk/Cargo.toml
Due: unittests, SDK Module

add unregistered at ms to Tool
  cli/src/tool/tool_list.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

better field naming
  cli/src/tool/tool_list.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

correct rename
  sdk/src/types/tool.rs
Due: unittests, SDK Module

ticket management moved to client
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  sdk/src/nexus/gas.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

fix : wrong contract method name changed.
  sdk-wasm/src/scheduler.rs
Due: none

derived gas wip
  Cargo.lock
  cli/Cargo.toml
  sdk/Cargo.toml
  sdk/src/idents/workflow.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/runtime_vertex.rs
Due: unittests, CLI Module, SDK Module

adjusted txs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/derive.rs
  sdk/src/types/mod.rs
Due: unittests, SDK Module

normal workflow working + tests
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

scheduler working
  sdk/src/idents/workflow.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

add clarifying comment
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

gas budget test fix
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
Due: unittests, SDK Module

feat(cli): output transaction checkpoint
  cli/src/dag/dag_execute.rs
Due: unittests, CLI Module

fix ticket cli + derive tests
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/derive.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

remove network create + changelog
  CHANGELOG.md
  cli/src/gas/mod.rs
  cli/src/main.rs
  cli/src/network/mod.rs
  cli/src/network/network_create.rs
  sdk/src/nexus/signer.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

clarify add budget option
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

remove invoker arg from create invoker gas
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

fix: update scheduler api
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

feat(cli): output transaction checkpoint (#385)
  cli/src/dag/dag_execute.rs
Due: unittests, CLI Module

fix: doc comments
  cli/src/cli_conf.rs
  cli/src/secrets/store/master_key.rs
Due: unittests, CLI Module

Update cli/src/secrets/secrets_disable.rs
  cli/src/secrets/secrets_disable.rs
Due: unittests, CLI Module

[0.6.0] feat: derived tool registry (#382)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_set.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/sui.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  cli/src/utils/secrets/mod.rs
  sdk/Cargo.toml
  sdk/src/events/fetching.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/workflow.rs
  sdk/src/lib.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/signer.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/tool_ref.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tool.rs
  toolkit-rust/src/config.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

[0.6.0] feat: derived gas service SDK (#384)
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/derive.rs
  sdk/src/types/mod.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

[0.6.0] feat: extract gas commands to `NexusClient` (#383)
  CHANGELOG.md
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/main.rs
  cli/src/network/mod.rs
  cli/src/network/network_create.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

wip move binding
  Cargo.lock
  sdk/Cargo.toml
  sdk/tests/generate_binding.rs
  sdk/tests/interface.rs
  sdk/tests/primitives.rs
  sdk/tests/workflow.rs
Due: unittests, SDK Module

move interface
  sdk/tests/generate_binding.rs
Due: none

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
