Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

chore: Update epic-template.md
  .github/ISSUE_TEMPLATE/epic-template.md
Due: none

style: format markdown files
  .github/ISSUE_TEMPLATE/epic-template.md
Due: none

feat: add support for onchain tools in cli tools list
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

Update cli/src/crypto/crypto_init_key.rs
  cli/src/crypto/crypto_init_key.rs
Due: unittests, CLI Module

update changelog
  CHANGELOG.md
Due: none

fmt
  cli/src/crypto/crypto_init_key.rs
Due: unittests, CLI Module

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: configure and use git-cliff
  .pre-commit/.just
  .typos.toml
  CHANGELOG.md
  cliff.toml
Due: none

Feat : initialize http tool
  Cargo.lock
  tools/http/Cargo.toml
  tools/http/src/http.rs
  tools/http/src/main.rs
  tools/http/src/models.rs
Due: unittests, Tools

feat: JSON schema validation and structured I/O added
  Cargo.lock
  tools/http/Cargo.toml
  tools/http/src/http.rs
  tools/http/src/main.rs
  tools/http/src/models.rs
Due: unittests, Tools

feat: add output and output schema to onchain tools
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

feat: modify json dags to support output ports for onchain tools
  sdk/src/dag/_dags/conditional_onchain_tool.json
  sdk/src/dag/_dags/double_onchain_tool.json
Due: unittests, SDK Module

feat: add ToolOutput object
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

feat: enable customizable onchain tool input port names
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: Added structured URL processing, authentication methods, and flexible request body support with enhanced validation.
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): improve file structure & depencencies, seperate models and helper functions, internal error handling improvements
  Cargo.lock
  tools/http/Cargo.toml
  tools/http/src/errors.rs
  tools/http/src/helpers.rs
  tools/http/src/http.rs
  tools/http/src/main.rs
  tools/http/src/models.rs
Due: unittests, Tools

feat(http): enhance error handling and validation with structured enums
  tools/http/README.md
  tools/http/src/errors.rs
  tools/http/src/http.rs
  tools/http/src/http_client.rs
  tools/http/src/main.rs
Due: unittests, Tools

refactor: migrate schema validation to utils and clean up unused helpers
  tools/http/src/http.rs
  tools/http/src/main.rs
  tools/http/src/utils.rs
Due: unittests, Tools

refactor(http): implement seperated request execution with retry logic
  tools/http/src/http.rs
  tools/http/src/http_client.rs
Due: unittests, Tools

feat(http): add default HTTP method and corresponding test case
  tools/http/src/http.rs
  tools/http/src/models.rs
Due: unittests, Tools

feat(http): add support for request body handling based on HTTP method with corresponding tests
  tools/http/src/http.rs
  tools/http/src/http_client.rs
Due: unittests, Tools

refactor(http): remove redundant execute method from HttpClient
  tools/http/src/http_client.rs
Due: unittests, Tools

refactor(http): simplify HttpClient initialization with default configuration
  tools/http/src/http_client.rs
Due: unittests, Tools

refactor(http): format to reorder module imports for improved organization
  tools/http/src/main.rs
Due: none

moved changelog under 0.3 + fix for 1 vertex dags
  CHANGELOG.md
  Cargo.lock
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

refactor(http): update MultipartField structure to remove file upload support and simplify request handling with only text-based form data
  tools/http/README.md
  tools/http/src/http.rs
  tools/http/src/http_client.rs
  tools/http/src/models.rs
Due: unittests, Tools

refactor(http): change default behavior for follow_redirects to false, aligning with curl's philosophy
  tools/http/README.md
  tools/http/src/http.rs
  tools/http/src/http_client.rs
Due: unittests, Tools

feat(http): add timeout error handling with corresponding tests
  tools/http/README.md
  tools/http/src/errors.rs
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): invoke function seperated into 4 smaller, single-responsibility functions.
  tools/http/src/http.rs
Due: unittests, Tools

fix(http): update default timeout to 5 seconds and adjust validation limits to 30 seconds with corresponding tests
  tools/http/README.md
  tools/http/src/http.rs
  tools/http/src/http_client.rs
Due: unittests, Tools

refactor(http): extract multipart and raw body handling into separate methods
  tools/http/src/http_client.rs
Due: unittests, Tools

test(http): add some tests for HttpClient
  tools/http/src/http_client.rs
Due: unittests, Tools

refactor(http): simplify error handling by using reqwest's StatusCode.
  tools/http/src/http.rs
  tools/http/src/http_client.rs
Due: unittests, Tools

fix(http): update maximum retries limit from 10 to 5 in validation
  tools/http/README.md
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): replace verbose match statements with map_err for cleaner error handling
  tools/http/src/errors.rs
  tools/http/src/http.rs
  tools/http/src/utils.rs
Due: unittests, Tools

add edge type docs
  docs/guides/dag-construction.md
Due: none

refactor(http): reduce redirect limit from 10 to 3 and document timeout behavior
  tools/http/README.md
  tools/http/src/http_client.rs
Due: unittests, Tools

fix fmt and typos
  sdk/src/dag/validator.rs
  sdk/src/object_crawler/fetching.rs
  tools/math/src/i64/sum.rs
Due: unittests, SDK Module, Tools

fix edge type + todos for validation
  docs/guides/dag-construction.md
  sdk/src/dag/validator.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

feat(http): implement localhost blocking for enhanced security in HTTP requests
  tools/http/README.md
  tools/http/src/http_client.rs
Due: unittests, Tools
