Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

ci: accept transitive im advisory temporarily
  deny.toml
Due: none

[Bug]Protocol event handling (#540)
  CHANGELOG.md
  deny.toml
  sdk/build.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/tests.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

update for dependency policy
  deny.toml
Due: none

use receiving mode in priority fee vault
  CHANGELOG.md
  cli/src/network/actions.rs
  cli/src/network/mod.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/network.rs
Due: unittests, CLI Module, SDK Module

better command scope
  CHANGELOG.md
  cli/src/network/actions.rs
  cli/src/network/mod.rs
  sdk/src/nexus/network.rs
Due: unittests, CLI Module, SDK Module

relocate metaschema
  cli/src/task/args.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_output.rs
  sdk/src/move_bindings/extensions/meta_schema.rs
  sdk/src/move_bindings/extensions/nexus_data.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/migration.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool.rs
  sdk/src/types/tool_meta.rs
  toolkit-rust/src/runtime.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

address comments
  CHANGELOG.md
  cli/src/task/args.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/workflow/mod.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/commitments.rs
  sdk/src/move_bindings/extensions/meta_schema.rs
  sdk/src/move_bindings/extensions/mod.rs
  sdk/src/move_bindings/extensions/nexus_data.rs
  sdk/src/move_bindings/extensions/ports_data.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/signed_http/v3/tests.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/walrus/nexus_data.rs
Due: unittests, CLI Module, SDK Module

add const and removeport name renaming
  CHANGELOG.md
  CLAUDE.md
  cli/src/tool/tool_register_onchain.rs
  deny.toml
  sdk/.just
  sdk/build.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/move_bindings/extensions/meta_schema.rs
  sdk/src/move_bindings/extensions/nexus_data.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/move_bindings/protocol_limits.toml
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

remove redundant check
  sdk/src/nexus/network.rs
Due: unittests, SDK Module

feat: use receiving mode in priority fee vault (#549)
  CHANGELOG.md
  cli/src/network/actions.rs
  cli/src/network/mod.rs
  cli/src/task/mod.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/network.rs
Due: unittests, CLI Module, SDK Module

chore(release): prepare v2.0.0-rc.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

[Tag]prepare v2.0.0-rc.6 (#552)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

update for nexus
  CHANGELOG.md
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/tests/scheduler_test.rs
Due: unittests, SDK Module

address comments
  cli/src/tap/tap_create_skill_artifact.rs
  sdk/src/walrus/nexus_data.rs
Due: unittests, CLI Module, SDK Module

[Tag]prepare v2.0.0-rc.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  sdk/src/nexus/protocol.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

ci: fix release branch checks
  .github/workflows/release.yml
  Cargo.lock
  deny.toml
  sdk/Cargo.toml
Due: unittests, SDK Module

[Tag]prepare v2.0.0 rc.7 (#555)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  deny.toml
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/protocol.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

accept canonical json and legacy json
  CHANGELOG.md
  cli/src/nexus_data_json.rs
Due: unittests, CLI Module

[TAG/Release]release v2.0.0 rc.7 (#557)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  deny.toml
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/protocol.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

add onchain tool validation
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_validate.rs
Due: unittests, CLI Module

update deps
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  deny.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/runtime/tls.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

Update CHANGELOG with recent changes
  CHANGELOG.md
Due: none

Fix changelog formatting and entry placement
  CHANGELOG.md
Due: none

fix: restore CI after dependency cleanup
  Cargo.lock
  cli/Cargo.toml
  cli/src/tool/tool_validate.rs
  sdk/Cargo.toml
  sdk/build.rs
  toolkit-rust/Cargo.toml
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: add onchain tool validation (#559)
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_validate.rs
  sdk/Cargo.toml
  sdk/build.rs
  toolkit-rust/Cargo.toml
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: add extensible invocation accounting
  CHANGELOG.md
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/transaction.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/tool_cashier.rs
  sdk/src/types/tap.rs
Due: unittests, SDK Module

feat: complete invocation policy integration
  cli/src/dag/dag_publish.rs
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  cli/src/gas/balance.rs
  cli/src/main.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_settle.rs
  cli/src/task/args.rs
  cli/src/task/create.rs
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/task/output.rs
  cli/src/task/recurrence.rs
  cli/src/task/schedule.rs
  cli/src/task/state.rs
  cli/src/tool/cashier.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_configure_verifier.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_unregister.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/tool_cashier.rs
Due: unittests, CLI Module, SDK Module

feat(sdk): resolve current runtime effects
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/leader_registry.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/network.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/src/nexus/state.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/scheduler/mod.rs
  sdk/src/scheduler/snapshot.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool_cashier.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

feat(cli): report proposal admission state
  cli/src/sui.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_output.rs
  cli/src/task/args.rs
  cli/src/task/output.rs
Due: unittests, CLI Module

docs(sdk): define complete chain identity
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

refactor(bindings): name package generations as eras
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/task/args.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/network.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, CLI Module, SDK Module

test: cover invocation economy actions
  CHANGELOG.md
  sdk/src/nexus/tool.rs
Due: unittests, SDK Module
