Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

test: use another port to avoid conflict
  toolkit-rust/tests/integration.rs
Due: none

fix: Prevent URL scheme injection attacks in meta_handler (#215)
  toolkit-rust/src/runtime.rs
  toolkit-rust/tests/integration.rs
Due: unittests, Toolkit Rust

Update README.md
  README.md
Due: none

fix: remove loading handles for interactive prompts
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

added invoker address to request event
  sdk/src/events.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: add simple execution wallet
  sdk/src/idents/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

grpc: install SDK and modify idents
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

grpc: transaction templates
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

Update CHANGELOG.md
  CHANGELOG.md
Due: none

obect crawler using grpc + tests
  sdk/src/nexus/crawler.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

macro and try from bcs
  sdk/Cargo.toml
  sdk/src/events.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

fix: remove loading handles for interactive prompts (#328)
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

gql fetching + tests + parsing
  Cargo.lock
  Cargo.toml
  cli/src/sui.rs
  sdk/Cargo.toml
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/mod.rs
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/lib.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, CLI Module, SDK Module

better execution and mocking
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/nexus/client.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

workflow tests, all idents, gql json parse
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/workflow.rs
  sdk/src/object_crawler/fetching.rs
  sdk/src/object_crawler/mod.rs
  sdk/src/object_crawler/wrappers.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

fix onchain reg test
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

nexus client works + tests
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

onchain schema gen swapped over
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

cli adjustments wip
  Cargo.lock
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_generate_id_key.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/dag_publish.rs
  cli/src/dag/mod.rs
  cli/src/error.rs
  cli/src/prelude.rs
  cli/src/scheduler/helpers.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/sui.rs
  cli/src/workflow/mod.rs
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, CLI Module, SDK Module

wip cli changes + expose more of nexus client
  cli/src/dag/dag_execute.rs
  cli/src/gas/gas_add_budget.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/periodic_disable.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_inspect.rs
  cli/src/scheduler/task/task_metadata.rs
  cli/src/scheduler/task/task_state.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/nexus/client.rs
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/wallet.rs
Due: unittests, CLI Module, SDK Module

compiles yay
  Cargo.lock
  Cargo.toml
  cli/src/cli_conf.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/network/network_create.rs
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  rust-toolchain.toml
  sdk/Cargo.toml
  sdk/src/events/fetching.rs
  sdk/src/events/mod.rs
  sdk/src/idents/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tool_meta.rs
Due: unittests, CLI Module, SDK Module

clippy pass
  cli/src/cli_conf.rs
  cli/src/conf/mod.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/display.rs
  cli/src/main.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/sui.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/workflow/mod.rs
Due: unittests, CLI Module

another clippy pass
  sdk/src/tool_fqn.rs
Due: unittests, SDK Module

final clippy pass
  sdk/src/dag/validator.rs
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/storage_kind.rs
  sdk/src/walrus/client.rs
Due: unittests, SDK Module

remove sui sdk
  Cargo.lock
  Cargo.toml
  cli/src/tool/tool_register_onchain.rs
  docs/client.md
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/mod.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/types/scheduler.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

bump sui build versions
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

tests passing
  Cargo.lock
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_register_onchain.rs
  rust-toolchain.toml
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/faucet.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/move/onchain_tool_test/Move.lock
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

grpc: crates, idents and transaciton templates
  .gitignore
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  sdk/src/idents/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/sui_framework.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

grpc: SDK types & events
  sdk/src/events/fetching.rs
  sdk/src/events/graphql/events_query.graphql
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/mod.rs
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/storage_kind.rs
  sdk/src/types/tool_meta.rs
Due: unittests, SDK Module

grpc: NexusClient and ObjectCrawler
  docs/client.md
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
  sdk/src/object_crawler/fetching.rs
  sdk/src/object_crawler/mod.rs
  sdk/src/object_crawler/wrappers.rs
Due: unittests, SDK Module

grpc: other SDK changes
  sdk/Cargo.toml
  sdk/build.rs
  sdk/src/dag/validator.rs
  sdk/src/events.rs
  sdk/src/lib.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/faucet.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/mod.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/tool_fqn.rs
  sdk/src/walrus/client.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

--new commits--: fix reqwest deps & typos in schema
  Cargo.toml
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/nexus/signer.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

clippy and fmt
  cli/src/cli_conf.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/idents/primitives.rs
  sdk/src/nexus/signer.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

fix devnet url
  cli/src/prelude.rs
Due: unittests, CLI Module

moved scheduling to gRPC
  cli/src/cli_conf.rs
  cli/src/scheduler/task/task_create.rs
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/type_name.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, CLI Module, SDK Module
