Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

WIP
  .github/workflows/pre-commit.yml
Due: none

feat: add arg description customization (Talus-Network/nexus#339)
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add OnChainToolRegisteredEvent
  sdk/src/events.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

WIP
  .github/workflows/pre-commit.yml
  .github/workflows/pre-commit_(PR).yml
  .github/workflows/pre-commit_(main).yml
Due: none

feat(sdk): add tool registry allow list idents
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

feat(sdk): add `over_slashing` to `NexusObjects`
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

docs(sdk): add changes
  CHANGELOG.md
Due: none

test(cli): fix test_fetch_devnet_objects
  cli/src/sui.rs
Due: unittests, CLI Module

feat(sdk): add identifiers to `tool_registry` allow list functions
  CHANGELOG.md
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

feat(sdk): export SuiParsedMoveObject in nexus_sdk::sui module
  sdk/src/sui.rs
Due: unittests, SDK Module

WIP
  .github/actions/cache/restore/action.yml
  .github/actions/cache/save/action.yml
  .github/actions/pre-commit/dependencies/action.yml
  .github/workflows/pre-commit_(PR).yml
  .github/workflows/pre-commit_(main).yml
Due: none

WIP
  CHANGELOG.md
Due: none

docs: add note about tool registration allow list
  docs/guides/llm-openai-chat-prep-tool.md
Due: none

add release date to changelog
  CHANGELOG.md
Due: none

change to rc.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/tool/templates/rust/Cargo.toml.jinja
Due: unittests, CLI Module

Updated docs
  docs/cli.md
  docs/guides/math-branching-quickstart.md
Due: none

chore: bump to 0.2.0
  Cargo.lock
  Cargo.toml
Due: none

added missing events
  sdk/src/events.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

remove arch from setup guide
  docs/guides/setup.md
Due: none

required changes to setup.md for v0.2.0
  docs/guides/setup.md
Due: none

fix/crypto-init-bug
  CHANGELOG.md
  cli/src/crypto/crypto_init_key.rs
Due: unittests, CLI Module

style: format markdown files
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

minor fixes
  .pre-commit/.just
  CHANGELOG.md
  cli/src/crypto/crypto_init_key.rs
  cli/src/dag/dag_execute.rs
  sdk/src/object_crawler/wrappers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

updated change log
  cli/src/completion/mod.rs
Due: unittests, CLI Module

minor fix
  .pre-commit/.just
Due: none

updated precommit
  .pre-commit/.just
Due: none

reverted the precommit
  .pre-commit/.just
Due: none

formating
  .pre-commit/.just
Due: none

chore: Specify `nightly-2025-01-06` only once, if possible
  .nightly-version
  .pre-commit/.just
  .pre-commit/13-nightly-version
  CHANGELOG.md
  cli/.just
  helpers/helpers.just
  justfile
  sdk/.just
  toolkit-rust/.just
  tools/.just
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

use quoted results in scripts
  sdk/.just
  toolkit-rust/.just
  tools/.just
Due: unittests, SDK Module, Toolkit Rust, Tools

fix: ignore hardcoded execution arguments
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add json dag for onchain tool example
  sdk/src/dag/_dags/double_onchain_tool.json
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

feat: allow single vertex dag
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

feat: add single onchain tool dag example
  sdk/src/dag/_dags/single_onchain_tool.json
Due: unittests, SDK Module

chore: Update issue templates
  .github/ISSUE_TEMPLATE/epic-template.md
Due: none
