Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

added walrus e2e tests
  sdk/src/nexus_data.rs
Due: unittests, SDK Module

clippy fixes
  Cargo.lock
  sdk/src/crypto/session.rs
  sdk/src/nexus_data.rs
  sdk/tests/walrus_client_test.rs
  toolkit-rust/src/serde_tracked.rs
Due: unittests, SDK Module, Toolkit Rust

feat : decryption for output ports.
  sdk-wasm/src/crypto.rs
Due: none

removed dependencies
  sdk/Cargo.toml
Due: unittests, SDK Module

added useful helpers
  cli/Cargo.toml
  sdk/src/lib.rs
  sdk/src/nexus_data.rs
Due: unittests, CLI Module, SDK Module

support remote storage in dag inspection and execution in CLI
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/mod.rs
  sdk/Cargo.toml
  sdk/src/idents/primitives.rs
  sdk/src/lib.rs
  sdk/src/nexus_data.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/storage_kind.rs
Due: unittests, CLI Module, SDK Module

changelog adjusted
  CHANGELOG.md
Due: none

some minor cleanup
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  sdk/src/idents/primitives.rs
  sdk/src/lib.rs
  sdk/src/nexus_data.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

removed unused import
  sdk/src/idents/primitives.rs
Due: unittests, SDK Module

move ports data to file and change events defs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  sdk/Cargo.toml
  sdk/src/events.rs
  sdk/src/lib.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/type_name.rs
Due: unittests, CLI Module, SDK Module

tests for ports data
  sdk/src/types/ports_data.rs
Due: unittests, SDK Module

todos resolved
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/crypto/crypto_auth.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/prelude.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/storage_kind.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/secret.rs
  tools/llm-openai-chat-completion/src/main.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix llm tests and add cli docs
  docs/cli.md
  tools/llm-openai-chat-completion/README.md
  tools/llm-openai-chat-completion/src/main.rs
Due: unittests, Tools

fix llm readme
  tools/llm-openai-chat-completion/README.md
Due: unittests, Tools

serial walrus tests + some improved assertions
  Cargo.lock
  cli/src/dag/dag_execute.rs
  sdk/Cargo.toml
  sdk/src/types/nexus_data.rs
Due: unittests, CLI Module, SDK Module

mock walrus server
  Cargo.lock
  cli/src/dag/dag_execute.rs
  sdk/Cargo.toml
  sdk/src/types/nexus_data.rs
Due: unittests, CLI Module, SDK Module

add missing newline
  sdk/src/types/storage_kind.rs
Due: unittests, SDK Module

fix(doc): Use correct tag
  README.md
Due: none

refactor: separate registration subcommands for offchain and onchain tools
  cli/src/tool/mod.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_validate.rs
  sdk/src/dag/validator.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/json_dag.rs
Due: unittests, CLI Module, SDK Module

structure for scheduling
  cli/src/dag/dag_execute.rs
  sdk/src/crypto/x3dh.rs
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/object_crawler/fetching.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/mod.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, CLI Module, SDK Module

moved kat module in separate branch
  sdk/src/crypto/x3dh.rs
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/kat/ast.rs
  sdk/src/kat/automaton.rs
  sdk/src/kat/config.rs
  sdk/src/kat/error.rs
  sdk/src/kat/lexer.rs
  sdk/src/kat/mod.rs
  sdk/src/kat/parser.rs
  sdk/src/kat/tests.rs
  sdk/src/lib.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

added scheduled wrapper
  sdk/src/events.rs
Due: unittests, SDK Module

storage kind is now copy, data storage ser/deser and commit_inline_plain convenience
  sdk/src/types/nexus_data.rs
  sdk/src/types/storage_kind.rs
Due: unittests, SDK Module

revert back the bumbing in sui version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/dag/dag_execute.rs
  cli/src/sui.rs
  cli/src/tool/tool_new.rs
  sdk/Cargo.toml
  sdk/src/events.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/wallet.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

rollback lockfile
  Cargo.lock
  cli/src/dag/dag_execute.rs
  cli/src/sui.rs
Due: unittests, CLI Module

made session parallel
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_generate_id_key.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/crypto/mod.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/prelude.rs
  sdk/Cargo.toml
  sdk/src/transactions/dag.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/ports_data.rs
  sdk/src/types/type_name.rs
Due: unittests, CLI Module, SDK Module

fix crypto commands
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/prelude.rs
Due: unittests, CLI Module

update session
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
Due: unittests, CLI Module

better crypto conf
  cli/src/crypto/crypto_auth.rs
  cli/src/crypto/crypto_generate_id_key.rs
  cli/src/crypto/crypto_init_key.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/prelude.rs
Due: unittests, CLI Module

added misisng commmands
  sdk/src/events.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

rever tap naming
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

refactor: move onchain tool schema generation to sdk
  cli/src/tool/tool_register_onchain.rs
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/object_crawler/fetching.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, CLI Module, SDK Module

refactor: modify schema_gen file name
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add move template to cli
  cli/src/tool/templates/move/.gitignore.jinja
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/templates/move/tests.move.jinja
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

added tests
  cli/src/dag/dag_execute.rs
  cli/src/dag/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, CLI Module, SDK Module

encryption inflation factor added to calculation
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

remove type name from ports data
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/ports_data.rs
Due: unittests, CLI Module, SDK Module

move conf to separate mod
  cli/src/cli_conf.rs
  cli/src/main.rs
  cli/src/prelude.rs
Due: unittests, CLI Module

remove unused imports
  cli/src/prelude.rs
Due: unittests, CLI Module

fix prekey bundle deser
  sdk/src/crypto/x3dh.rs
Due: unittests, SDK Module
