Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix: remove tool allowlist tooltip
  docs/cli.md
Due: none

update for scheduler
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tool/tool_auth.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/mod.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/scheduler.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/network_auth.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

feat: enrich tap commands
  cli/src/tap/mod.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_default_target.rs
  cli/src/tap/tap_endpoint.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_inspect_onchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

changelog and update cli docs
  CHANGELOG.md
  docs/cli.md
Due: none

fmt
  cli/src/tap/mod.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_default_target.rs
  cli/src/tap/tap_endpoint.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

update for cleaned interface
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_register_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tool/mod.rs
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_register_onchain.rs
  docs/guides/onchain-tool-development.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/registry.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/types/tap.rs
  sdk/src/types/tool.rs
  sdk/src/types/workflow.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

improve coverage
  sdk/src/nexus/tool.rs
Due: unittests, SDK Module

docs: add CLAUDE.md agent context
  CLAUDE.md
Due: none

feat(crawler): enrich BCS parse error with type name + object id + byte length
  sdk/src/nexus/crawler.rs
Due: unittests, SDK Module

address comments for nexus objects update
  cli/src/cli_conf.rs
  cli/src/sui.rs
  cli/src/tool/tool_auth.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

add more commands + changelog
  CHANGELOG.md
  cli/src/dag/mod.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_schedule_address_funded.rs
  cli/src/tap/tap_vault.rs
  cli/src/tap/tap_vault_deposit.rs
  docs/cli.md
  sdk/src/nexus/tap.rs
Due: unittests, CLI Module, SDK Module

fix md lint and compile warn
  docs/cli.md
  sdk/src/nexus/tap.rs
Due: unittests, SDK Module

feat: tap devguide + grant bind
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_execute.rs
  docs/guides/1-tap-development.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  docs/index.md
  sdk/src/idents/registry.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

fix tests
  CLAUDE.md
  cli/src/tap/tap_register_skill.rs
Due: unittests, CLI Module

fix md lint
  CLAUDE.md
Due: none

address comments, rename witness_id
  CHANGELOG.md
  cli/src/tap/tap_register_skill.rs
  cli/src/tool/tool_inspect_onchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

review comments
  CHANGELOG.md
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/tap.rs
Due: unittests, CLI Module, SDK Module

fix register inconsistency
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

add agent id and skill id to scheduler task create
  CHANGELOG.md
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/nexus/scheduler.rs
Due: unittests, CLI Module, SDK Module

improve test coverage
  cli/src/scheduler/task/task_create.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

improvements for guide and commands
  CHANGELOG.md
  cli/src/dag/dag_inspect_execution.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_validate_skill.rs
  docs/cli.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
Due: unittests, CLI Module

add note about grant bind + flaky test fixes
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tool/tool_new.rs
  docs/cli.md
  docs/guides/6-tap-execute-and-settle.md
Due: unittests, CLI Module

more flaky tests
  CHANGELOG.md
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

rename to agent registry + drop useless json field
  cli/src/tap/mod.rs
  cli/src/tap/tap_registry.rs
Due: unittests, CLI Module

make json output consistent across tap commands
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_default_target.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_schedule_address_funded.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  cli/src/tap/tap_vault_deposit.rs
Due: unittests, CLI Module

reworded cli docs
  docs/cli.md
Due: none

remove reuse if exists flag
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

put back old logic
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

standardize data returned from register and inspect
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_inspect_onchain.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

add nexus tap payments resolve
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  docs/cli.md
  sdk/src/nexus/tap.rs
Due: unittests, CLI Module, SDK Module

fix: remove tool allowlist tooltip (#461)
  docs/cli.md
Due: none

add agent id param to resolve from agent vault
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  docs/cli.md
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

feat: enrich tap commands (#463)
  CHANGELOG.md
  CLAUDE.md
  cli/src/dag/mod.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_bind.rs
  cli/src/tap/tap_default_target.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_register_skill.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_schedule_address_funded.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  cli/src/tap/tap_vault_deposit.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  docs/cli.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
Due: unittests, CLI Module, SDK Module

implement priority fee
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_execute.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/scheduler.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

update abolish command
  CHANGELOG.md
  cli/src/dag/dag_abort_expired_execution.rs
  cli/src/dag/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

fix tests
  cli/src/scheduler/task/mod.rs
  cli/src/tap/tap_output.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

integrate token contract
  Cargo.lock
  Cargo.toml
  cli/src/dag/mod.rs
  cli/src/gas/mod.rs
  cli/src/gas/priority.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/Cargo.toml
  sdk/src/idents/workflow.rs
  sdk/src/nexus/gas.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/leader_registry.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/priority_fee_vault.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

update changelog
  CHANGELOG.md
Due: none

feat: remove execution checkpoint arg from inspect
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/mod.rs
  docs/cli.md
  docs/client.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
