Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

refactoring-003
  cli/src/main.rs
  cli/src/tap/mod.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/mod.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

resolve comments
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
Due: unittests, CLI Module, SDK Module

fix serialization
  sdk/src/types/workflow.rs
Due: unittests, SDK Module

update changelog
  CHANGELOG.md
Due: none

refactoring-002
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/sui.rs
  cli/src/tool/tool_list.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/workflow.rs
  toolkit-rust/src/config.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

address comments
  Cargo.lock
  Cargo.toml
  cli/src/sui.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  sdk/src/transactions/network_auth.rs
Due: unittests, CLI Module, SDK Module

update document
  CHANGELOG.md
  docs/guides/dag-construction.md
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

refactoring-003
  cli/src/main.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/leader_registry.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/serde_parsers.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

docs: add FAQ section for common questions
  README.md
Due: none

support verifier
  CHANGELOG.md
  sdk/src/nexus/registry.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/workflow.rs
Due: unittests, SDK Module

refactoring-001
  cli/src/dag/dag_inspect_execution.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_json.rs
  sdk/src/types/workflow.rs
Due: unittests, CLI Module, SDK Module

fix file flush
  sdk/src/walrus/client.rs
Due: unittests, SDK Module

update changelog and test coverage
  CHANGELOG.md
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

Support Onchain Finality (#453)
  CHANGELOG.md
  cli/src/dag/dag_inspect_execution.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/json_dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_json.rs
  sdk/src/types/workflow.rs
  sdk/src/walrus/client.rs
Due: unittests, CLI Module, SDK Module

support verifier
  CHANGELOG.md
  sdk/src/idents/workflow.rs
  sdk/src/nexus/registry.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/workflow.rs
Due: unittests, SDK Module

remove stale onchain tool methods
  CHANGELOG.md
  sdk/src/idents/move_std.rs
  sdk/src/idents/workflow.rs
  sdk/src/signed_http/v1/error.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/mod.rs
  sdk/src/types/workflow.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
Due: unittests, SDK Module, Toolkit Rust

add tests
  cli/src/tap/mod.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/tap.rs
  sdk/src/nexus/models.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

add tests
  cli/src/tap/mod.rs
  sdk/src/nexus/models.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

address comments for nexus
  CHANGELOG.md
  cli/src/cli_conf.rs
  cli/src/conf/conf_get.rs
  cli/src/dag/dag_execute.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_create_agent.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_register_skill.rs
  cli/src/tap/tap_requirements.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_schedule.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  docs/client.md
  sdk/README.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/move_json.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

add test cases
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_announce.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_create_agent.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_register_skill.rs
  cli/src/tap/tap_requirements.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_schedule.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

adopt simplified vertexauth
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/tap.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/runtime_vertex.rs
  sdk/src/types/tap.rs
  sdk/src/types/tool.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix changelog and cargo.toml
  CHANGELOG.md
  cli/Cargo.toml
  docs/client.md
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/tap.rs
Due: unittests, CLI Module, SDK Module

move endpoint management to registry
  sdk/src/nexus/tap.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

simplify deafault agent entries
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

update for simplified default agent payment
  cli/src/dag/dag_execute.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_schedule.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/move_json.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

update changelog and fix md
  CHANGELOG.md
  sdk/src/test_utils/contracts.rs
Due: unittests, SDK Module

reduce dependencies to agent during execution
  sdk/src/transactions/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

simplify interface
  sdk/src/idents/tap.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/workflow.rs
Due: unittests, SDK Module

add parse for gas event
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/tap.rs
Due: unittests, SDK Module

Patch for Integration tests (#459)
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/tap.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
