Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

use cargo version in url and comment scheduler commands
  cli/src/main.rs
  cli/src/prelude.rs
Due: unittests, CLI Module

fix: rename license file
  README.md
Due: none

chore: 0.4.0 release
  CHANGELOG.md
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

I never know
  CHANGELOG.md
Due: none

update lock file
  Cargo.lock
Due: none

ci(release): update license file path (#347)
  .github/workflows/release.yml
Due: none

chore: 0.4.0 release (#353)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

refactor: add toollocation
  cli/src/tool/tool_list.rs
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/tool_location.rs
Due: unittests, CLI Module, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

feat: add License and Actions Badges to README (#189)
  README.md
Due: none

feat(cli): enable env_logger to debug cli operations
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
Due: unittests, CLI Module

build: fix the nightly version to avoid downloading multiple toolchains
  rust-toolchain.toml
Due: none

docs: add changes
  CHANGELOG.md
Due: none

fix: post merge issues
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

refactor: use move-cli summary command directly
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/onchain_schema_gen/summary.rs
Due: unittests, SDK Module

fix: set move flavor and dependencies
  sdk/Cargo.toml
  sdk/src/onchain_schema_gen/summary.rs
Due: unittests, SDK Module

refactor: reuse structs for summary
  sdk/Cargo.toml
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/summary.rs
Due: unittests, SDK Module

feat: party objects and gas joining
  sdk/src/events/mod.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

chore: fmt
  cli/src/tool/mod.rs
Due: unittests, CLI Module

chore: update cargo lock
  Cargo.lock
Due: none

fix failing test
  sdk/src/transactions/crypto.rs
Due: unittests, SDK Module

fix scheduler test
  sdk/src/transactions/scheduler.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

Stop tracking Move.lock in onchain_tool_test
  sdk/tests/move/onchain_tool_test/Move.lock
Due: none

fix: add todo
  sdk/src/types/scheduler.rs
Due: unittests, SDK Module

Update sdk/src/types/scheduler.rs
  sdk/src/types/scheduler.rs
Due: unittests, SDK Module

fix: comments
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

test gate mocks to avoid coverage
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

remove test utils from codecov
  codecov.yml
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

rename mock function
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

feat: party objects and gas joining (#363)
  CHANGELOG.md
  codecov.yml
  sdk/src/events/mod.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/crypto.rs
  sdk/src/transactions/scheduler.rs
  sdk/tests/move/onchain_tool_test/Move.lock
Due: unittests, SDK Module

trying stable toolchain to see what happens in CI
  rust-toolchain.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

feat: dynamicmap constructor
  sdk/src/nexus/crawler.rs
Due: unittests, SDK Module

fix: wanrings in tests
  sdk/src/crypto/x3dh.rs
Due: unittests, SDK Module

chore: updated changelog
  .gitignore
  CHANGELOG.md
Due: none

fix: update to grpc
  cli/src/tool/tool_list.rs
  sdk/src/tool_location.rs
Due: unittests, CLI Module, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
