Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix and improve tests
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

fix test
  cli/src/sui.rs
Due: unittests, CLI Module

improve test coverage
  sdk/src/events/fetching.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

chlog, events
  CHANGELOG.md
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/conf/conf_get.rs
  docs/client.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/models.rs
Due: unittests, CLI Module, SDK Module

readd edges and outputs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix parser test
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

feat: bump sui to 1.64.2 (mainnet version)
  sdk/Cargo.toml
  sdk/src/events/graphql/events_query.rs
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

[0.6.0] feat: leader distribution support (#396)
  CHANGELOG.md
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  sdk/src/events/fetching.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/derive.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, CLI Module, SDK Module

feat: bump to 1.65.2
  sdk/Cargo.toml
  sdk/src/events/graphql/events_query.rs
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

chore: changelog
  CHANGELOG.md
Due: none

feat:interface vversion type
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/types/interface_version.rs
  sdk/src/types/mod.rs
  sdk/src/types/network_auth.rs
Due: unittests, SDK Module

feat: update graphql to 1.65.2
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/graphql/schema-1.65.2.graphql
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
Due: unittests, SDK Module

feat: cargo toml
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
Due: unittests, SDK Module

fix: container contamination
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

feat: add missing identifiers
  sdk/src/idents/workflow.rs
Due: unittests, SDK Module

feat: move option json
  sdk/src/types/mod.rs
  sdk/src/types/move_json.rs
Due: unittests, SDK Module

chore: fix typos in graphql schema
  sdk/src/events/graphql/schema-1.65.2.graphql
Due: unittests, SDK Module

fix: stale move.lock in sdk
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
  sdk/tests/move/object_crawler_test/Move.toml
  sdk/tests/move/onchain_tool_test/Move.toml
Due: unittests, SDK Module

fix: remove published.toml as well
  sdk/src/test_utils/contracts.rs
Due: unittests, SDK Module

fix: tap interface
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/interface_package_config.rs
  sdk/src/types/mod.rs
Due: unittests, SDK Module

Feat/signed http leader agnostic (#394)
  CHANGELOG.md
  docs/guides/tool-communication.md
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, SDK Module, Toolkit Rust

chore: make coverage happy
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/interface_package_config.rs
  sdk/src/types/interface_version.rs
  sdk/src/types/move_json.rs
Due: unittests, SDK Module

chore: update changelog
  CHANGELOG.md
Due: none

feat:export ochain allowed list
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/types/network_auth.rs
Due: unittests, CLI Module, SDK Module

feat: sync leader allowed list
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_collections.rs
  sdk/src/types/network_auth.rs
Due: unittests, CLI Module, SDK Module

fix: update docs
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  docs/cli.md
  docs/client.md
  docs/guides/tool-communication.md
Due: unittests, CLI Module

chore: make coverage happy
  cli/src/tool/tool_auth.rs
  sdk/src/nexus/network_auth.rs
Due: unittests, CLI Module, SDK Module

fix: check zero interval
  cli/src/tool/tool_auth.rs
Due: unittests, CLI Module

Update sdk/src/events/mod.rs
  sdk/src/events/mod.rs
Due: unittests, SDK Module

[0.6.0]Feat/distribution harness (#407)
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/workflow.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/test_utils/containers.rs
  sdk/src/types/interface_package_config.rs
  sdk/src/types/interface_version.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_json.rs
  sdk/src/types/network_auth.rs
Due: unittests, SDK Module

[0.6.0]feat/leader allow list sync (#409)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  docs/cli.md
  docs/client.md
  docs/guides/tool-communication.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/types/mod.rs
  sdk/src/types/move_collections.rs
  sdk/src/types/network_auth.rs
Due: unittests, CLI Module, SDK Module

chore: 0.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: 0.6.0 (#412)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

feat: add published.toml to gitignore for tests
  .gitignore
Due: none

chore: Bump sui version to 1.65.2 (#406)
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/graphql/events_query.rs
  sdk/src/events/graphql/schema-1.61.2.graphql
  sdk/src/events/graphql/schema-1.65.2.graphql
  sdk/src/sui.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/tests/move/object_crawler_test/Move.toml
  sdk/tests/move/onchain_tool_test/Move.toml
Due: unittests, SDK Module

feat: adjust templates and events for gas locking
  sdk/src/events/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

fix up parsing tests
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
