Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

replace interface manualloy
  sdk/tests/generate_binding.rs
Due: none

fix: update scheduler api (#386)
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

fix: skip files staged for deletion
  .pre-commit/.just
Due: none

fix: small doc test
  toolkit-rust/src/nexus_tool.rs
Due: unittests, Toolkit Rust

enable more precise filtering
  sdk/src/events/fetching.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

wip
  sdk/src/idents/gen/framework.rs
  sdk/src/idents/gen/interface.rs
  sdk/src/idents/gen/mod.rs
  sdk/src/idents/gen/primitives.rs
  sdk/src/idents/gen/workflow.rs
  sdk/src/idents/mod.rs
  sdk/src/transactions/gas.rs
  sdk/tests/generate_binding.rs
  sdk/tests/interface.rs
  sdk/tests/workflow.rs
Due: unittests, SDK Module

fix: allow foregin TAP announce events
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

stricter check on inner types
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

Add precise event type filtering to `poll_nexus_events` (#391)
  sdk/src/events/fetching.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix: allow foregin TAP announce events (#392)
  CHANGELOG.md
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

feat: signed_http agnostic to leader making the call
  CHANGELOG.md
  docs/guides/tool-communication.md
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, SDK Module, Toolkit Rust

reloadable config
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
  toolkit-rust/tests/integration.rs
Due: unittests, Toolkit Rust

refactor to decrease change footprint
  toolkit-rust/pr.md
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

remove extra md file
  toolkit-rust/pr.md
Due: unittests, Toolkit Rust

make config private again
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

make it more dry
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

refactor for easier readability
  toolkit-rust/src/config.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

improve coverage
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

force github ci run
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

force ci rerun
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

fix dead code warning
  toolkit-rust/src/config.rs
Due: unittests, Toolkit Rust

fix fmt
  toolkit-rust/src/config.rs
Due: unittests, Toolkit Rust

use arc instead of allocating
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

Feat/hot reload config (#395)
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/src/config.rs
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
  toolkit-rust/tests/integration.rs
Due: unittests, Toolkit Rust

added fetching for distributed events
  sdk/src/events/fetching.rs
  sdk/src/events/parsing.rs
  sdk/src/idents/primitives.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

add distribution to nexus event and tests
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/scheduler.rs
Due: unittests, SDK Module

feat: add v1 to onchain tools execute function
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_register_onchain.rs
  docs/guides/onchain-tool-development.md
  sdk/src/onchain_schema_gen/input.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: unittests, CLI Module, SDK Module

fix: `time` crate vulnerability
  CHANGELOG.md
  Cargo.lock
Due: none

chore: upgrade sui deps
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

chore: upgrade sui deps (#399)
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

chore: upgrade notify
  Cargo.lock
  toolkit-rust/Cargo.toml
Due: unittests, Toolkit Rust

chore: upgrade notify (#402)
  Cargo.lock
  toolkit-rust/Cargo.toml
Due: unittests, Toolkit Rust

adjust ptb templates to have leader registry
  sdk/src/idents/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

fix conf and add idents for staking
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  sdk/src/idents/workflow.rs
Due: unittests, CLI Module, SDK Module

feat : walrus remote data storage for sdk-wasm
  sdk-wasm/Cargo.toml
  sdk-wasm/README.md
  sdk-wasm/src/dag_execute.rs
  sdk-wasm/src/lib.rs
  sdk-wasm/src/walrus.rs
Due: none

add task id derivation
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/types/derive.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

add parsing from bcs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

fix ptb and changelog
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
