Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

allow out of order header decoding
  sdk/src/crypto/double_ratchet.rs
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

updated changelog
  CHANGELOG.md
  sdk/src/crypto/double_ratchet.rs
Due: unittests, SDK Module

added doc comments in scheduler
  cli/src/scheduler/helpers.rs
Due: unittests, CLI Module

[Bug]Allow out of order header decoding (#315)
  CHANGELOG.md
  sdk/src/crypto/double_ratchet.rs
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

feat: add support for large numbers
  sdk/src/types/nexus_data_parser.rs
Due: unittests, SDK Module

refactor: update tool docs
  docs/guides/onchain-tool-development.md
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

todo: investigate a test that fails under some conditions
  sdk/tests/object_crawler_test.rs
Due: none

chore: cargo clippy
  cli/src/tool/tool_register_onchain.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/sui.rs
Due: unittests, CLI Module, SDK Module

chore: clippy
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

fix: move test for data parser
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

fix: tests
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/types/nexus_data_parser.rs
Due: unittests, SDK Module

[0.3] Add `NexusClient` (#312)
  .github/actions/coverage/action.yml
  .github/actions/pre-commit/dependencies/action.yml
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/crypto/crypto_auth.rs
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/dag_publish.rs
  cli/src/error.rs
  cli/src/gas/gas_add_budget.rs
  cli/src/sui.rs
  docs/client.md
  sdk/Cargo.toml
  sdk/src/crypto/double_ratchet.rs
  sdk/src/events.rs
  sdk/src/lib.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui.rs
  sdk/src/test_utils/mod.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/test_utils/wallet.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/ports_data.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

chore: release 0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/setup.md
Due: unittests, CLI Module

version adjustments for 0.3
  Cargo.lock
  README.md
  cli/README.md
  docs/guides/dag-construction.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
  tools/social-twitter/Cargo.toml
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: release 0.3.0 (#319)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  docs/guides/dag-construction.md
  docs/guides/setup.md
  docs/toolkit-rust.md
  sdk/README.md
  toolkit-rust/README.md
  tools/social-twitter/Cargo.toml
Due: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix flaky in port report
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
  sdk/src/types/nexus_data.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

clippy tests
  cli/src/cli_conf.rs
  sdk/src/nexus/workflow.rs
  tools/social-twitter/src/tweet/post_tweet.rs
Due: unittests, CLI Module, SDK Module, Tools

nexus client for scheduling
  cli/src/prelude.rs
  cli/src/scheduler/helpers.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/periodic_disable.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_metadata.rs
  cli/src/scheduler/task/task_state.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/scheduler.rs
Due: unittests, CLI Module, SDK Module

fmt
  sdk/src/nexus/scheduler.rs
Due: unittests, SDK Module

cargo lock
  Cargo.lock
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/sui.rs
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

better docs for crypto operations
  docs/cli.md
  docs/guides/setup.md
Due: none

Update docs/guides/setup.md
  docs/guides/setup.md
Due: none

Update docs/cli.md
  docs/cli.md
Due: none

refactor : dag publish review for wasm.
  Cargo.lock
  sdk-wasm/src/dag_publish.rs
  sdk-wasm/yarn.lock
  sdk/src/types/mod.rs
Due: unittests, SDK Module

encryption mode in nexus data
  Cargo.lock
  cli/src/dag/dag_execute.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/workflow/mod.rs
  sdk/Cargo.toml
  sdk/src/transactions/dag.rs
  sdk/src/types/nexus_data.rs
  sdk/src/types/nexus_data_parser.rs
  sdk/src/types/ports_data.rs
Due: unittests, CLI Module, SDK Module

added digrams in docs
  docs/guides/setup.md
Due: none

feat: add tests for input and output gen
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
Due: unittests, SDK Module

feat: add tests for tool register onchain
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add Move package for testing
  sdk/tests/move/onchain_tool_test/Move.toml
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: none

chore: nightly fmt
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add test for register on chain
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

chore: remove unused sdk functions
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

fix: use tool output value constructors in template
  cli/src/tool/templates/move/tool.move.jinja
Due: unittests, CLI Module

chore: cleanup imports
  cli/src/tool/tool_register_onchain.rs
Due: unittests, CLI Module

feat: add template command to docs
  docs/guides/onchain-tool-development.md
Due: none

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
