Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

Correct Sui container documentation
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

Fix Toolkit TLS dependency vulnerabilities
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  deny.toml
  toolkit-rust/Cargo.toml
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

Refactor Toolkit TLS transport
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/runtime/tls.rs
Due: unittests, Toolkit Rust

Remove TLS enum spacing
  toolkit-rust/src/runtime/tls.rs
Due: unittests, Toolkit Rust

Use maintained TLS listener
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  toolkit-rust/Cargo.toml
  toolkit-rust/src/runtime/tls.rs
Due: unittests, Toolkit Rust

[Security]fix `testcontainers` dependency vulnerabilities (#524)
  CHANGELOG.md
  Cargo.lock
  deny.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

remove coin requirement for client
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_execution_cost.rs
  cli/src/dag/dag_inspect_execution.rs
  cli/src/prelude.rs
  cli/src/scheduler/task/task_inspect.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_default_agent.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_requirements.rs
  cli/src/tap/tap_vault.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_list.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, CLI Module, SDK Module

[Security]`tls` remediation (#525)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  deny.toml
  toolkit-rust/Cargo.toml
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/runtime/tls.rs
Due: unittests, Toolkit Rust

feat(scheduler): persist deterministic task executions
  cli/src/scheduler/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_state.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/scheduler_models.rs
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/transactions/scheduler.rs
  sdk/tests/scheduler_test.rs
Due: unittests, CLI Module, SDK Module

fix(scheduler): claim execution IDs in constructor
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
Due: unittests, SDK Module

fix(scheduler): match effective occurrence start
  sdk/src/move_bindings/extensions/scheduler_models.rs
Due: unittests, SDK Module

feat(scheduler): expose occurrence based scheduling
  README.md
  cli/README.md
  cli/src/dag/dag_inspect_execution.rs
  cli/src/dag/mod.rs
  cli/src/main.rs
  cli/src/nexus_data_json.rs
  cli/src/schedule/helpers.rs
  cli/src/schedule/mod.rs
  cli/src/schedule/occurrence/mod.rs
  cli/src/schedule/occurrence/occurrence_abort_expired.rs
  cli/src/schedule/occurrence/occurrence_add.rs
  cli/src/schedule/occurrence/occurrence_cost.rs
  cli/src/schedule/occurrence/occurrence_inspect.rs
  cli/src/schedule/recurrence/mod.rs
  cli/src/schedule/recurrence/recurrence_clear.rs
  cli/src/schedule/recurrence/recurrence_set.rs
  cli/src/schedule/task/mod.rs
  cli/src/schedule/task/task_create.rs
  cli/src/schedule/task/task_inspect.rs
  cli/src/schedule/task/task_state.rs
  cli/src/scheduler/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/tool/tool_inspect.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/scheduler_models.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/object_history.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/scheduler/inspection.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

test(scheduler): cover object backed occurrence inspection
  sdk/src/nexus/scheduler/inspection.rs
Due: unittests, SDK Module

fix: scope onchain tool registration target
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

address comments
  cli/src/dag/dag_execute.rs
  cli/src/sui.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
Due: unittests, CLI Module, SDK Module

fix: scope generated transaction types
  sdk/src/move_boundary/mod.rs
Due: unittests, SDK Module

fix: include scheduler dispatch in execution history
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

test: cover scheduler contracts
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/src/scheduler/error.rs
  sdk/src/scheduler/model.rs
  sdk/src/scheduler/receipt.rs
  sdk/src/scheduler/snapshot.rs
Due: unittests, SDK Module

update nexus client
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_payments.rs
  cli/src/tool/tool_claim_collateral.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

refactor: align scheduler payment bindings
  sdk/src/events/mod.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/workflow.json
Due: unittests, SDK Module

add todo for tools list
  cli/src/tool/tool_list.rs
Due: unittests, CLI Module

fix: reject unused standalone schedule options
  cli/src/task/args.rs
  cli/src/task/mod.rs
Due: unittests, CLI Module

derive onchain tool registration mode
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

remove client mutex
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

feat(transactions): commit TerminalErrEval directly via the new terminal err_eval Move entry
  CHANGELOG.md
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

chore(transactions): remove orphaned PreparedOnchainToolOutput
  CHANGELOG.md
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

chore(transactions): tighten redundant doc comment on terminal err_eval commit
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

feat(scheduler): add task discovery pointers
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/task/list.rs
  cli/src/task/mod.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/transaction.rs
  sdk/src/nexus/workflow.rs
  sdk/src/scheduler/mod.rs
  sdk/src/scheduler/snapshot.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/compose.rs
Due: unittests, CLI Module, SDK Module

fix(sui): accept consensus address ownership
  sdk/src/nexus/crawler.rs
Due: unittests, SDK Module

enable failed tx submission
  CHANGELOG.md
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

update for contracts
  sdk/src/move_bindings/ir/workflow.json
Due: unittests, SDK Module

update for sdk
  CHANGELOG.md
  cli/src/gas/mod.rs
  cli/src/gas/priority.rs
  sdk/src/move_bindings/extensions/priority_fee_vault.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/nexus/gas.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/priority_fee.rs
Due: unittests, CLI Module, SDK Module

feat: support online payment package upgrades
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/templates/tap_package/Move.toml.jinja
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/ir/online_payment.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

refactor: rename payment package to gas
  CHANGELOG.md
  cli/src/sui.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/templates/tap_package/Move.toml.jinja
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/events/mod.rs
  sdk/src/move_bindings/ir/gas.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

Use direct NexusData tool output
  CHANGELOG.md
  cli/src/tool/templates/move/tool.move.jinja
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/transactions/dag.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/tests/integration.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

refactor: construct typed tool values
  CHANGELOG.md
  cli/src/tool/templates/move/tool.move.jinja
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
