Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

chore: prepare v2.1.0 release
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/.just
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_new.rs
  scripts/publish-crates.sh
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

docs: keep release notes focused on package changes
  CHANGELOG.md
Due: none

fix: enable SDK features required by toolkit packages
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/move_bindings/extensions/mod.rs
Due: unittests, SDK Module

[Tag]prepare v2.1.0 release (#583)
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/.just
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_new.rs
  scripts/publish-crates.sh
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/README.md
  sdk/src/move_bindings/extensions/mod.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

[TAG]release v2.1.0 (#584)
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/.just
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/tool/tool_new.rs
  scripts/publish-crates.sh
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/README.md
  sdk/src/move_bindings/extensions/mod.rs
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

Resume recovery reads after RPC interruptions
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/recovery.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

Run releases only for tags and manual dispatch
  .github/workflows/release.yml
Due: none

Use configured Sui readers for recovery
  CHANGELOG.md
  sdk/README.md
  sdk/src/nexus/recovery.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

Keep recovery futures compatible with worker tasks
  sdk/src/nexus/recovery.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

[Bug]resume recovery after RPC interruptions (#585)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/recovery.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

Preserve execution preparation and resolve expired payment locks
  CHANGELOG.md
  Cargo.lock
  cli/README.md
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/task/output.rs
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/workflow.rs
  sdk/src/scheduler/mod.rs
  sdk/src/scheduler/receipt.rs
  sdk/src/scheduler/snapshot.rs
  sdk/src/sui.rs
  sdk/src/sui/request_budget.rs
Due: unittests, CLI Module, SDK Module

Expose optional observations for RPC attempts and recovery
  Cargo.lock
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/recovery.rs
  sdk/src/sui.rs
  sdk/src/sui/observation.rs
  sdk/src/sui/request_budget.rs
  sdk/src/sui/rpc_observation.rs
  sdk/tests/observation_test.rs
  sdk/tests/rpc_concurrency_test.rs
Due: unittests, SDK Module

Bound TAP command dispatch stack usage
  CHANGELOG.md
  cli/src/tap/mod.rs
Due: unittests, CLI Module

[Bug]Preserve execution preparation and resolve expired payment locks (#586)
  CHANGELOG.md
  Cargo.lock
  cli/README.md
  cli/src/tap/mod.rs
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/task/output.rs
  sdk/Cargo.toml
  sdk/README.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/recovery.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/workflow.rs
  sdk/src/scheduler/mod.rs
  sdk/src/scheduler/receipt.rs
  sdk/src/scheduler/snapshot.rs
  sdk/src/sui.rs
  sdk/src/sui/observation.rs
  sdk/src/sui/request_budget.rs
  sdk/src/sui/rpc_observation.rs
  sdk/tests/observation_test.rs
  sdk/tests/rpc_concurrency_test.rs
Due: unittests, CLI Module, SDK Module

Decode finalized onchain results from transaction receipts
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
Due: unittests, SDK Module

docs: append finalized result receipt changelog entry
  CHANGELOG.md
Due: none

[Bug]Decode finalized onchain results from transaction receipts (#587)
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
Due: unittests, SDK Module

fix: isolate tool failures and protect shared transports
  Cargo.lock
  Cargo.toml
  sdk/src/walrus/client.rs
  sdk/src/walrus/models/storage.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/README.md
  toolkit-rust/src/lib.rs
  toolkit-rust/src/network.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/schema.rs
Due: unittests, SDK Module, Toolkit Rust

fix: make toolkit safety utilities optional
  Cargo.toml
  toolkit-rust/Cargo.toml
  toolkit-rust/README.md
  toolkit-rust/src/lib.rs
  toolkit-rust/src/network.rs
  toolkit-rust/src/schema.rs
Due: unittests, Toolkit Rust

refactor: keep tool input policies outside the toolkit
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/README.md
  toolkit-rust/src/lib.rs
  toolkit-rust/src/network.rs
  toolkit-rust/src/schema.rs
Due: unittests, Toolkit Rust

docs: move invocation behavior into API documentation
  toolkit-rust/README.md
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

[Fix]contain tool failures and harden the Walrus client (#588)
  Cargo.lock
  sdk/src/walrus/client.rs
  sdk/src/walrus/models/storage.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, SDK Module, Toolkit Rust

fix(cli): make Move Tool scaffolds build and default to Standard mode
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

Split Walrus CLI responsibilities and exclude build output from Markdown lint
  .pre-commit/.just
  cli/src/walrus/args.rs
  cli/src/walrus/command.rs
  cli/src/walrus/mod.rs
  cli/src/walrus/receipt.rs
  cli/src/walrus/settings.rs
  cli/src/walrus/upload.rs
Due: unittests, CLI Module

Cover wallet submission and Walrus input boundaries
  sdk/src/nexus/wallet.rs
  sdk/src/scheduler/input_plan.rs
  sdk/src/walrus/native/payment.rs
  sdk/src/walrus/reader.rs
  sdk/src/walrus/reference.rs
  sdk/tests/wallet_transactions.rs
Due: unittests, SDK Module

Test typed output validation and Walrus signatures
  toolkit-rust/tests/typed_outputs.rs
Due: none

Share execution limits across SDK and runtimes
  cli/README.md
  cli/src/task/args.rs
  cli/src/walrus/command.rs
  cli/src/walrus/settings.rs
  sdk/README.md
  sdk/src/execution_limits.rs
  sdk/src/move_bindings/extensions/meta_schema.rs
  sdk/src/move_bindings/extensions/nexus_data.rs
  sdk/src/scheduler/input_plan.rs
  sdk/src/walrus/native.rs
  sdk/src/walrus/nexus_data.rs
  sdk/src/walrus/reader.rs
  sdk/src/walrus/reference.rs
  sdk/src/walrus/upload_data.rs
  toolkit-rust/README.md
  toolkit-rust/src/config.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
  toolkit-rust/tests/typed_outputs.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

docs(cli): describe MoveToolMode variants by their execute parameters
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

docs: remove manual line breaks from added README prose
  cli/README.md
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

docs: clarify Walrus reference examples
  cli/README.md
Due: unittests, CLI Module

fix: derive wallet RPC URL from the client
  sdk/src/nexus/client.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/wallet.rs
  sdk/tests/wallet_transactions.rs
Due: unittests, SDK Module

refactor: clarify Walrus payment checks
  sdk/src/walrus/native/payment.rs
Due: unittests, SDK Module

test: cover toolkit upload signing and Walrus readback
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/tests/typed_outputs.rs
Due: unittests, Toolkit Rust

docs: clarify task upload reference directory
  cli/README.md
  cli/src/task/args.rs
Due: unittests, CLI Module

fix: derive wallet metadata lazily from its client
  cli/src/task/args.rs
  cli/src/walrus/settings.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/wallet.rs
  sdk/src/walrus/native.rs
  sdk/tests/wallet_transactions.rs
Due: unittests, CLI Module, SDK Module

refactor: use Walrus quotes without transaction payment caps
  cli/README.md
  cli/src/walrus/args.rs
  sdk/README.md
  sdk/src/walrus/native.rs
  sdk/src/walrus/native/payment.rs
Due: unittests, CLI Module, SDK Module

fix(cli): use edition 2024.alpha in Move Tool scaffolds
  CHANGELOG.md
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

revert(cli): drop digit-aware Tool name conversion from the scaffold fix
  CHANGELOG.md
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module
