Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix(bindings): expose bounded leader accounting
  sdk/src/move_bindings/ir/registry.json
Due: unittests, SDK Module

docs: record security boundary changes
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
  toolkit-rust/src/nexus_tool.rs
Due: unittests, SDK Module, Toolkit Rust

fix(protocol): align bindings with core invariant fixes
  CHANGELOG.md
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
Due: unittests, SDK Module

fix(tap): resume walks after payment refill
  sdk/src/nexus/tap.rs
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

[Bug]fix/resume (#566)
  sdk/src/nexus/tap.rs
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

test(tap): cover payment refill recovery
  sdk/src/nexus/tap.rs
Due: unittests, SDK Module

[TAP]cover payment refill recovery (#567)
  sdk/src/nexus/tap.rs
Due: unittests, SDK Module

chore(release): prepare v2.0.0 rc.final
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

[Tag] prepare v2.0.0 rc.final (#568)
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: restore release guide
  RELEASING.md
Due: none

ci: publish crates without environment
  .github/workflows/publish-crates.yml
Due: none

docs: correct crate readmes
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, SDK Module, Toolkit Rust

fix(sdk): report definitive object absence as a typed error
  CHANGELOG.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/state.rs
Due: unittests, SDK Module

fix(sdk): report object absence as a typed error (#572)
  CHANGELOG.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/state.rs
Due: unittests, SDK Module

feat: run TAP tests with published Nexus bytecode
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_test.rs
  cli/src/tap/tap_test_overlay.rs
  cli/src/tap/tap_test_vm.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/templates/dag.json.jinja
  cli/src/tap/templates/skill_config.json.jinja
  cli/src/tap/templates/tap_package/Move.toml.jinja
  cli/src/tap/templates/tap_package/module.move.jinja
  cli/src/tap/templates/tap_package/module_tests.move.jinja
  cli/src/task/args.rs
  cli/src/task/mod.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/tap.rs
Due: unittests, CLI Module, SDK Module

docs: clarify embedded TAP application testing
  README.md
  cli/README.md
  cli/src/main.rs
  cli/src/tap/mod.rs
Due: unittests, CLI Module

feat: add causal execution support
  CHANGELOG.md
  cli/src/move_package.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/task/args.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/build.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/events/mod.rs
  sdk/src/events/query.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/move_bindings/protocol_limits.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/state.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/nexus/workflow/history.rs
  sdk/src/sui.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/mod.rs
  sdk/src/sui/events/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

[TAP]run TAP tests with published Nexus bytecode (#574)
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/main.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/tap/tap_scaffold.rs
  cli/src/tap/tap_test.rs
  cli/src/tap/tap_test_overlay.rs
  cli/src/tap/tap_test_vm.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/templates/dag.json.jinja
  cli/src/tap/templates/skill_config.json.jinja
  cli/src/tap/templates/tap_package/Move.toml.jinja
  cli/src/tap/templates/tap_package/module.move.jinja
  cli/src/tap/templates/tap_package/module_tests.move.jinja
  cli/src/task/args.rs
  cli/src/task/mod.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/tap.rs
Due: unittests, CLI Module, SDK Module

docs: move changelog entries to unreleased
  CHANGELOG.md
Due: none

fix: clarify checkpoint and event contracts
  sdk/src/events/query.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/signer.rs
Due: unittests, SDK Module

[Architecture]add causal execution support (#576)
  CHANGELOG.md
  cli/src/move_package.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/task/args.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/build.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/events/mod.rs
  sdk/src/events/query.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/move_bindings/protocol_limits.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/state.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/nexus/workflow/history.rs
  sdk/src/sui.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/mod.rs
  sdk/src/sui/events/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

feat: convert advertised occurrences in sdk
  sdk/src/move_bindings/extensions/mod.rs
  sdk/src/move_bindings/extensions/scheduler.rs
Due: unittests, SDK Module

fix: clarify advertised occurrence helper
  sdk/src/move_bindings/extensions/scheduler.rs
Due: unittests, SDK Module

[Scheduler]casual simulation (#577)
  sdk/src/move_bindings/extensions/mod.rs
  sdk/src/move_bindings/extensions/scheduler.rs
Due: unittests, SDK Module

Discover current recovery work from recent Sui activity
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/scheduler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/recovery.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

Update TLS dependencies to patched releases
  Cargo.lock
Due: none

Record unreleased recovery changes
  CHANGELOG.md
Due: none

Keep the changelog focused on recovery behavior
  CHANGELOG.md
Due: none

Simplify recovery window initialization
  sdk/src/nexus/recovery.rs
Due: unittests, SDK Module

[Performance]Discover current recovery work from recent Sui activity (#581)
  CHANGELOG.md
  Cargo.lock
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/scheduler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/recovery.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/tests.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

fix: support Sui protocol 137 transaction expiration
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/tests/sui_transaction_expiration_test.rs
Due: unittests, SDK Module

[Bug]Support Sui protocol 137 transaction expiration (#582)
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/tests/sui_transaction_expiration_test.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
