Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

wip
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

set token
  .github/workflows/coverage.yaml
Due: none

add badge
  .github/workflows/coverage.yaml
  README.md
Due: none

remove comments from codecov.yaml, no longer used keyword in install toolchain
  .github/workflows/coverage.yaml
  codecov.yml
Due: none

Update sdk/src/dag/validator.rs
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

add push and workflow_dispatch triggers
  .github/workflows/coverage.yaml
Due: none

borrow a comma
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

another borrowed comma
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

cargo +nightly fmt
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

replace link runtime.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

replace reference lib.rs
  toolkit-rust/src/lib.rs
Due: unittests, Toolkit Rust

replace reference nexus_tool.rs
  toolkit-rust/src/nexus_tool.rs
Due: unittests, Toolkit Rust

refactor: move expiry ticket files and rename them
  cli/src/dag/_dags/math_branching_entry_group.json
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/buy_ticket.rs
  cli/src/gas/tickets/expiry/disable.rs
  cli/src/gas/tickets/expiry/enable.rs
  cli/src/gas/tickets/expiry/mod.rs
  cli/src/gas/tickets/mod.rs
Due: unittests, CLI Module

feat: add LimitedInvocations to cli
  cli/src/gas/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/gas/tickets/limited_invocations/mod.rs
  cli/src/gas/tickets/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

chore: replace default_gas_extension with gas_extension
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

revert adding old json dag
  cli/src/dag/_dags/math_branching_entry_group.json
Due: unittests, CLI Module

fix codecov validation error
  codecov.yml
Due: none

feat: add more pre-commit checks
  .pre-commit/.just
  .pre-commit/07-check-shebang
  .pre-commit/08-check-just-shebang
  .pre-commit/09-typos
  .typos.toml
  cli/src/gas/gas_expiry_buy_ticket.rs
  just/_helpers.just
  sdk/src/crypto/session.rs
Due: unittests, CLI Module, SDK Module

chore: cargo fmt
  cli/src/gas/mod.rs
  cli/src/gas/tickets/expiry/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/gas/tickets/limited_invocations/mod.rs
  cli/src/gas/tickets/mod.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

Replace magic number with named constant in gas.rs
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

docs: add crupto setup guide
  docs/guides/setup.md
Due: none

removed
  docs/guides/setup.md
Due: none

formatting
  docs/guides/setup.md
Due: none

refactor(tests): move test constant to appropriate scope & cargo +nightly fmt
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

fix: add coverage bypass
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

chore: fmt
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

refactor: change nightly coverage attribute to stable
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

separate coverage to an action
  .github/actions/coverage/action.yml
  .github/workflows/coverage-baseline.yml
Due: none

refactor: adjust attribute
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/main.rs
Due: unittests, CLI Module

cleanup
  .github/actions/coverage/action.yml
Due: none

check paths in step
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
Due: none

refactor: add stubs to bypass coverage
  cli/Cargo.toml
  cli/src/gas/mod.rs
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
  cli/src/main.rs
Due: unittests, CLI Module

fix: add --no-save for tool registration
  cli/src/tool/mod.rs
  cli/src/tool/tool_register.rs
Due: unittests, CLI Module

changelog and do s
  CHANGELOG.md
  docs/cli.md
Due: none

use tj-actions/changed-files for changes detection
  .github/workflows/coverage-baseline.yml
Due: none

cargo fmt
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

feat: add docs
  docs/cli.md
Due: none

chore: add changelog
  CHANGELOG.md
Due: none

chore: change DefaultGasExtension struct name to GasExtension
  sdk/src/idents/workflow.rs
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

chore: cargo fmt
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module
