Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

fix(http): format
  tools/http/src/errors.rs
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): format http.rs
  tools/http/src/http.rs
Due: unittests, Tools

fix(http): remove empty json block & update test
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): remove `allow_empty_json` option
  tools/http/README.md
  tools/http/src/http.rs
Due: unittests, Tools

feat(http): integrate backon for exponential backoff retry logic in HTTP requests
  Cargo.lock
  tools/http/Cargo.toml
  tools/http/src/http_client.rs
Due: unittests, Tools

fix(http): remove unnecessary blank line in README.md
  tools/http/README.md
Due: unittests, Tools

refactor(http): replaced mock adresses and server for httpbin related tests
  tools/http/src/http.rs
Due: unittests, Tools

refactor(http): extract server and tool initialization into a helper function
  tools/http/src/http.rs
Due: unittests, Tools

feat: add preliminary guide for onchain tool development
  docs/guides/onchain-tool-development.md
Due: none

add loop static validation
  sdk/src/dag/_dags/both_loops_valid.json
  sdk/src/dag/_dags/collect_without_for_each_invalid.json
  sdk/src/dag/_dags/do_while_and_break_same_variant_invalid.json
  sdk/src/dag/_dags/do_while_in_for_each_invalid.json
  sdk/src/dag/_dags/do_while_nested_invalid.json
  sdk/src/dag/_dags/missing_break_invalid.json
  sdk/src/dag/_dags/missing_do_while_invalid.json
  sdk/src/dag/_dags/nested_for_each_invalid.json
  sdk/src/dag/_dags/unclosed_for_each_invalid.json
  sdk/src/dag/validator.rs
Due: unittests, SDK Module

update lock file
  Cargo.lock
Due: none

fix deser test
  sdk/src/events.rs
Due: unittests, SDK Module

fix : dag_execution fixed.
  sdk-wasm/src/dag_execute.rs
Due: none

feat: add json dag example to guide
  docs/guides/onchain-tool-development.md
  sdk/src/dag/_dags/guide_onchain_tool.json
Due: unittests, SDK Module

separate gas from policy proof
  sdk/src/groth16/circuits/gas_proof.rs
  sdk/src/groth16/circuits/mod.rs
  sdk/src/groth16/circuits/transaction_policy_proof.rs
  sdk/src/kat/mod.rs
Due: unittests, SDK Module

refactor : Refactor for wasm crypto.
  sdk-wasm/src/crypto.rs
Due: none

attach issue to todo
  sdk/src/types/json_dag.rs
Due: unittests, SDK Module

added clarifying comment
  docs/guides/dag-construction.md
Due: none

add walk failed event
  sdk/src/events.rs
Due: unittests, SDK Module

kat and improved proofs
  sdk/src/groth16/ceremony/phase1.rs
  sdk/src/groth16/circuits/gas.rs
  sdk/src/groth16/circuits/gas_proof.rs
  sdk/src/groth16/circuits/mod.rs
  sdk/src/groth16/circuits/transaction_policy.rs
  sdk/src/groth16/circuits/transaction_policy_proof.rs
  sdk/src/kat/ast.rs
  sdk/src/kat/automaton.rs
  sdk/src/kat/config.rs
  sdk/src/kat/error.rs
  sdk/src/kat/lexer.rs
  sdk/src/kat/mod.rs
  sdk/src/kat/parser.rs
  sdk/src/kat/tests.rs
  sdk/src/lib.rs
Due: unittests, SDK Module

refactor : wasm refactor
  Cargo.lock
  sdk-wasm/.gitignore
  sdk-wasm/src/crypto.rs
  sdk-wasm/src/dag_execute.rs
  sdk-wasm/src/dag_inspect_execution.txt
  sdk-wasm/src/dag_publish.rs
  sdk-wasm/yarn.lock
Due: none

build: bump yanked crate `scc`
  Cargo.lock
Due: none

refactor : unused codes removed.
  sdk-wasm/crypto_helpers.ts
  sdk-wasm/src/crypto.rs
  sdk-wasm/src/dag_execute.rs
  sdk-wasm/src/dag_publish.rs
Due: none

fix(sdk): check for successful faucet request with 2XX
  CHANGELOG.md
  sdk/src/test_utils/faucet.rs
Due: unittests, SDK Module

update transaction policy circuit
  sdk/Cargo.toml
  sdk/src/groth16/circuits/gas.rs
  sdk/src/groth16/circuits/mod.rs
  sdk/src/groth16/circuits/transaction_policy.rs
  sdk/src/kat/mod.rs
  sdk/src/lib.rs
Due: unittests, SDK Module

batch transaction policy
  sdk/Cargo.toml
  sdk/src/groth16/circuits/gas.rs
  sdk/src/groth16/circuits/mod.rs
  sdk/src/groth16/circuits/transaction_policy.rs
  sdk/src/kat/automaton.rs
  sdk/src/kat/mod.rs
Due: unittests, SDK Module

more tests for zk
  sdk/src/groth16/circuits/gas.rs
  sdk/src/groth16/circuits/transaction_policy.rs
  sdk/src/groth16/keys.rs
Due: unittests, SDK Module

minor warning fix
  sdk/src/groth16/keys.rs
Due: unittests, SDK Module

updated changelog
  CHANGELOG.md
Due: none

fix : Cargo lock updated.
  Cargo.lock
Due: none

add NexusData::Walrus and DataBag
  sdk/src/idents/primitives.rs
  sdk/src/transactions/dag.rs
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

walrus and encryption info directly in nexus data
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/nexus_data.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_data.rs
Due: unittests, SDK Module

pub export nexus data
  cli/src/dag/dag_inspect_execution.rs
  sdk/src/lib.rs
Due: unittests, CLI Module, SDK Module

moved groth16 to its own branch
  .typos.toml
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/groth16/ceremony/mod.rs
  sdk/src/groth16/ceremony/phase1.rs
  sdk/src/groth16/ceremony/phase2.rs
  sdk/src/groth16/circuit.rs
  sdk/src/groth16/circuits/gas.rs
  sdk/src/groth16/circuits/mod.rs
  sdk/src/groth16/circuits/transaction_policy.rs
  sdk/src/groth16/curve.rs
  sdk/src/groth16/error.rs
  sdk/src/groth16/keys.rs
  sdk/src/groth16/mod.rs
  sdk/src/lib.rs
Due: unittests, SDK Module

bump sui version
  Cargo.lock
  Cargo.toml
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/dag/dag_execute.rs
  cli/src/sui.rs
  cli/src/tool/tool_new.rs
  sdk/Cargo.toml
  sdk/src/crypto/double_ratchet.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/wallet.rs
  sdk/tests/move/object_crawler_test/Move.toml
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

removed zk imports
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

todo
  sdk/src/nexus_data.rs
Due: unittests, SDK Module

chore: update tooloutput variants in docs and json dag
  docs/guides/onchain-tool-development.md
  sdk/src/dag/_dags/double_onchain_tool.json
  sdk/src/dag/_dags/guide_onchain_tool.json
Due: unittests, SDK Module

commit and fetch now mutate state and data storage is returned as a whole
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/src/dag/dag_inspect_execution.rs
  sdk/src/lib.rs
  sdk/src/nexus_data.rs
Due: unittests, CLI Module, SDK Module
