Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

revert(cli): drop trailing-newline normalization from the scaffold fix
  CHANGELOG.md
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

fix(cli): make Move Tool scaffolds build and default to Standard mode (#589)
  CHANGELOG.md
  cli/src/tool/mod.rs
  cli/src/tool/templates/move/Move.toml.jinja
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
Due: unittests, CLI Module

chore: prepare v2.1.1
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  RELEASING.md
  cli/Cargo.toml
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/walrus/args.rs
  cli/src/walrus/command.rs
  cli/src/walrus/receipt.rs
  cli/src/walrus/upload.rs
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/README.md
  sdk/src/execution_limits.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/workflow.rs
  sdk/src/walrus/mod.rs
  sdk/src/walrus/nexus_data.rs
  sdk/tests/execution_cost_compat.rs
  toolkit-rust/README.md
  toolkit-rust/src/config.rs
  toolkit-rust/tests/typed_outputs.rs
  walrus/Cargo.toml
  walrus/README.md
  walrus/src/lib.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: refine release preparation
  Cargo.lock
  RELEASING.md
  sdk/tests/execution_cost_compat.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/tests/typed_outputs.rs
Due: unittests, Toolkit Rust

docs: align Walrus package listing
  README.md
Due: none

docs: describe release behavior in changelog
  CHANGELOG.md
Due: none

docs: remove packaging detail from changelog
  CHANGELOG.md
Due: none

docs: simplify Walrus adapter introduction
  walrus/README.md
Due: none

docs: simplify Walrus dependency instructions
  walrus/README.md
Due: none

docs: clarify SDK dependency sources
  walrus/README.md
Due: none

[V2.1.1]prepare v2.1.1 (#594)
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  cli/src/walrus/args.rs
  cli/src/walrus/command.rs
  cli/src/walrus/receipt.rs
  cli/src/walrus/upload.rs
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/README.md
  sdk/src/execution_limits.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/workflow.rs
  sdk/src/walrus/mod.rs
  sdk/src/walrus/nexus_data.rs
  sdk/tests/execution_cost_compat.rs
  toolkit-rust/Cargo.toml
  toolkit-rust/README.md
  toolkit-rust/src/config.rs
  toolkit-rust/tests/typed_outputs.rs
  walrus/Cargo.toml
  walrus/README.md
  walrus/src/lib.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: allow crate publishing to inspect draft releases
  .github/workflows/publish-crates.yml
Due: none

[Fix]allow crate publishing to inspect draft releases (#596)
  .github/workflows/publish-crates.yml
Due: none

fix: use default Rust flags when publishing crates
  .github/workflows/publish-crates.yml
Due: none

ci: run Rust checks when build inputs change
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/detect_rust_changes.yml
  .github/workflows/pre-commit_(PR).yml
  .github/workflows/pre-commit_(main).yml
Due: none

[CI]fix crate publishing and filter Rust checks (#597)
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/detect_rust_changes.yml
  .github/workflows/pre-commit_(PR).yml
  .github/workflows/pre-commit_(main).yml
  .github/workflows/publish-crates.yml
Due: none

Return recovery observations to caller policy
  sdk/README.md
  sdk/src/nexus/error.rs
  sdk/src/nexus/recovery.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/tests.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

fix(cli): never replace an unparseable config with defaults on save
  CHANGELOG.md
  cli/src/cli_conf.rs
  cli/src/conf/conf_set.rs
  cli/src/tap/tap_agent.rs
  cli/src/task/args.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/walrus/command.rs
  cli/src/walrus/mod.rs
  cli/src/walrus/settings.rs
Due: unittests, CLI Module

fix(cli): spell unparsable the way typos expects
  cli/src/cli_conf.rs
  cli/src/conf/conf_set.rs
  cli/src/tap/tap_agent.rs
Due: unittests, CLI Module

fix(cli): tell the user how to recover from an unparsable config
  cli/src/cli_conf.rs
Due: unittests, CLI Module

Document unreleased SDK recovery changes
  CHANGELOG.md
Due: none

[Fix]Return recovery observations to caller policy (#598)
  CHANGELOG.md
  sdk/README.md
  sdk/src/nexus/error.rs
  sdk/src/nexus/recovery.rs
  sdk/src/nexus/workflow.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/tests.rs
  sdk/tests/recovery.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
