Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

refactor: move distributed event to interface
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
Due: unittests, SDK Module

refactor: narrow nexus data bindings
  CHANGELOG.md
  sdk/src/move_bindings/ir/primitives.json
Due: unittests, SDK Module

feat: resolve exact active release snapshots
  CHANGELOG.md
  sdk/src/events/query.rs
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/nexus/release.rs
  sdk/src/types/nexus_objects.rs
  sdk/tests/release_resolution_test.rs
Due: unittests, SDK Module

fix: validate active Nexus releases
  CHANGELOG.md
  cli/src/cli_conf.rs
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/tool_list.rs
  sdk/src/events/query.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tool.rs
  sdk/tests/release_resolution_test.rs
Due: unittests, CLI Module, SDK Module

test: cover release validation invariants
  CHANGELOG.md
  sdk/src/nexus/release.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

fix: retain DAG owner capability
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

fix: anchor scheduler dispatch to protocol
  CHANGELOG.md
  sdk/src/transactions/scheduler/command.rs
Due: unittests, SDK Module

fix: validate composed event sources
  CHANGELOG.md
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

fix: read exact event source linkage
  sdk/src/types/nexus_objects.rs
Due: unittests, SDK Module

chore: update for priority fee exchange rate (#533)
  CHANGELOG.md
  cli/src/gas/mod.rs
  cli/src/gas/priority.rs
  sdk/src/move_bindings/extensions/priority_fee_vault.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/nexus/gas.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/priority_fee.rs
Due: unittests, CLI Module, SDK Module

fix: reimburse scheduler gas
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
Due: unittests, SDK Module

feat: enable failed onchain tool tx submission (#532)
  CHANGELOG.md
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

refactor: own protocol release compatibility
  CHANGELOG.md
  sdk/src/events/query.rs
  sdk/src/move_bindings/extensions/tap.rs
  sdk/src/move_bindings/ir/gas.json
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/nexus/error.rs
  sdk/src/nexus/release.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

refactor: resolve canonical protocol configurations
  cli/src/sui.rs
  cli/src/tap/tap_output.rs
  cli/src/tool/tool_list.rs
  sdk/src/events/mod.rs
  sdk/src/events/query.rs
  sdk/src/move_bindings/extensions/leader_registry.rs
  sdk/src/move_bindings/extensions/network_auth.rs
  sdk/src/move_bindings/ir/gas.json
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/primitives.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/protocol.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/mod.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/package.rs
  sdk/src/types/tap.rs
  sdk/src/types/tool.rs
  sdk/tests/protocol_resolution_test.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

refactor: require canonical protocol package metadata
  CHANGELOG.md
  cli/src/sui.rs
  sdk/src/bin/regenerate_bindings.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

Adopt active protocol automatically
  CHANGELOG.md
  cli/src/error.rs
  cli/src/main.rs
  cli/src/sui.rs
  cli/src/tool/tool_auth.rs
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/protocol.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/scheduler/command.rs
Due: unittests, CLI Module, SDK Module

fix: expose task occurrence settlement
  CHANGELOG.md
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
Due: unittests, CLI Module

feat(cli): make task failures actionable
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/dag/dag_inspect.rs
  cli/src/dag/mod.rs
  cli/src/display.rs
  cli/src/error.rs
  cli/src/execution/inspect.rs
  cli/src/execution/mod.rs
  cli/src/execution/output.rs
  cli/src/gas/balance.rs
  cli/src/gas/mod.rs
  cli/src/main.rs
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/task/args.rs
  cli/src/task/create.rs
  cli/src/task/list.rs
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/task/output.rs
  cli/src/task/recurrence.rs
  cli/src/task/schedule.rs
  cli/src/task/state.rs
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/scheduler/resolve.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/scheduler/error.rs
  sdk/src/scheduler/model.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/gas.rs
Due: unittests, CLI Module, SDK Module

docs: keep changelog entries inline
  CHANGELOG.md
Due: none

test: cover protocol action facades
  sdk/src/nexus/network.rs
  sdk/src/nexus/tool.rs
Due: unittests, SDK Module

docs: preserve released changelog history
  CHANGELOG.md
Due: none

fix: address review feedback
  cli/src/dag/dag_validate.rs
  sdk/MIGRATION.md
Due: unittests, CLI Module, SDK Module

style: normalize migration line breaks
  sdk/MIGRATION.md
Due: unittests, SDK Module

refactor: name tool earnings state cashier
  CHANGELOG.md
  CLAUDE.md
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_settle.rs
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/tool/cashier.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  sdk/MIGRATION.md
  sdk/src/events/mod.rs
  sdk/src/move_bindings/extensions/versioned.rs
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/transaction.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/tool.rs
  sdk/src/transactions/tool_cashier.rs
  sdk/src/types/nexus_objects.rs
Due: unittests, CLI Module, SDK Module

fix(cli): emit semantic command output
  cli/src/cli_conf.rs
  cli/src/completion/mod.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/conf/output.rs
  cli/src/dag/dag_validate.rs
  cli/src/dag/mod.rs
  cli/src/execution/inspect.rs
  cli/src/execution/output.rs
  cli/src/main.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_default_agent.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_requirements.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_output.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_validate.rs
  sdk/src/nexus/tap.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

feat:changelog
  CHANGELOG.md
Due: none

merge from main
  Cargo.lock
Due: none

[Bug]fix cli UX (#536)
  CHANGELOG.md
  cli/src/cli_conf.rs
  cli/src/completion/mod.rs
  cli/src/conf/conf_get.rs
  cli/src/conf/conf_set.rs
  cli/src/conf/mod.rs
  cli/src/conf/output.rs
  cli/src/dag/dag_validate.rs
  cli/src/dag/mod.rs
  cli/src/execution/inspect.rs
  cli/src/execution/output.rs
  cli/src/main.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_agent.rs
  cli/src/tap/tap_default_agent.rs
  cli/src/tap/tap_dry_run.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_registry.rs
  cli/src/tap/tap_requirements.rs
  cli/src/tap/tap_validate_skill.rs
  cli/src/tap/tap_vault.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_auth.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_output.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  cli/src/tool/tool_validate.rs
  sdk/src/nexus/tap.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix(release): decouple tags from GitHub releases
  .github/scripts/resolve_release_intent.sh
  .github/scripts/tests/test_resolve_release_intent.sh
  .github/workflows/release.yml
  .pre-commit/14-release-tag-validation
Due: none

Use exact dynamic field reads
  CHANGELOG.md
  cli/src/tap/tap_vault.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/protocol.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

test: mock exact network auth key read
  sdk/src/test_utils/nexus_mocks.rs
Due: unittests, SDK Module

[Performance]Use exact dynamic field reads (#539)
  CHANGELOG.md
  cli/src/tap/tap_vault.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/protocol.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/nexus_mocks.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/tap.rs
Due: unittests, CLI Module, SDK Module

fix: handle all protocol events
  CHANGELOG.md
  sdk/build.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/tests.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

fix: keep event decode errors compact
  CHANGELOG.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
Due: unittests, SDK Module

fix: preserve unsupported Nexus event sources
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
Due: unittests, SDK Module

refactor: expose supported event conversion
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
Due: unittests, SDK Module
