Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix(sdk): load era based deployment state
  cli/src/error.rs
  sdk/.just
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/state.rs
  sdk/src/scheduler/error.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/types/package.rs
Due: unittests, CLI Module, SDK Module

fix(cli): preserve Tool inspection existence
  cli/src/tool/tool_inspect.rs
Due: unittests, CLI Module

fix: settle task after timeout invocation
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

refactor(tool): restore owner managed configuration
  cli/src/sui.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_configure_verifier.rs
  cli/src/tool/tool_inspect.rs
  cli/src/tool/tool_lifecycle.rs
  cli/src/tool/tool_list.rs
  cli/src/tool/tool_output.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_set_invocation_cost.rs
  cli/src/tool/tool_unregister.rs
  cli/src/tool/tool_update.rs
  cli/src/tool/tool_update_timeout.rs
  cli/src/tool/tool_validate.rs
  sdk/src/move_bindings/ir/tool.json
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/tool.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool.rs
Due: unittests, CLI Module, SDK Module

fix: align SDK with current runtime authority
  CHANGELOG.md
  cli/src/dag/dag_publish.rs
  cli/src/dag/mod.rs
  cli/src/execution/mod.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_publish_skill.rs
  cli/src/task/create.rs
  cli/src/task/list.rs
  cli/src/task/mod.rs
  cli/src/task/schedule.rs
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  sdk/Cargo.toml
  sdk/src/dag/_dags/registered_key_sum.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/nexus/address_balance.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/task.rs
  sdk/src/nexus/state.rs
  sdk/src/nexus/tool.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/scheduler/snapshot.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler/authority.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/tool.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
Due: unittests, CLI Module, SDK Module

fix: accept ordered verifier objects
  cli/src/tool/tool_configure_verifier.rs
Due: unittests, CLI Module

feat: derive canonical invocation accounts
  CHANGELOG.md
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  cli/src/sui.rs
  cli/src/tool/cashier.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/tool_cashier.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix: identify invalid nexus events
  sdk/src/events/parsing.rs
Due: unittests, SDK Module

feat: complete invocation economy user flow
  CHANGELOG.md
  cli/src/tool/cashier.rs
  sdk/src/nexus/tool.rs
  sdk/src/transactions/tool_cashier.rs
Due: unittests, CLI Module, SDK Module

fix: construct invocation beneficiaries in Move
  CHANGELOG.md
  sdk/src/transactions/tool_cashier.rs
Due: unittests, SDK Module

fix: read transfer to object inboxes
  CHANGELOG.md
  sdk/src/nexus/tool.rs
Due: unittests, SDK Module

feat: expose invocation lock key derivation
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

feat: reimburse invocation authorization gas
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

test: cover cashier access client boundary
  cli/src/sui.rs
Due: unittests, CLI Module

fix: pass finalized DAGs as immutable inputs
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

fix: canonicalize invocation policy type names
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

feat: make fixed price the accounting baseline
  CHANGELOG.md
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  cli/src/tool/cashier.rs
  sdk/src/move_bindings/ir/tool.json
  sdk/src/nexus/tool.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/tool_cashier.rs
Due: unittests, CLI Module, SDK Module

fix: settle expired tasks with the clock
  sdk/src/transactions/dag.rs
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

fix: include invocation lifecycle in execution history
  CHANGELOG.md
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

test: cover invocation economy facade
  sdk/src/nexus/tool.rs
  sdk/src/transactions/tool_cashier.rs
Due: unittests, SDK Module

[Architecture] Invocation contract SDK (#561)
  CHANGELOG.md
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  cli/src/main.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_settle.rs
  cli/src/task/mod.rs
  cli/src/task/occurrence.rs
  cli/src/tool/cashier.rs
  cli/src/tool/mod.rs
  cli/src/tool/tool_update.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/nexus/tool.rs
  sdk/src/nexus/transaction.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/mod.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/tool_cashier.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

fix(sdk): confirm occurrence settlement transitions
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/scheduler/error.rs
Due: unittests, SDK Module

fix(cli): make workflow guidance production safe
  cli/src/dag/dag_inspect.rs
  cli/src/task/mod.rs
  sdk/MIGRATION.md
Due: unittests, CLI Module, SDK Module

update for authentication
  CHANGELOG.md
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
Due: unittests, CLI Module, SDK Module

add coverage
  cli/src/execution/mod.rs
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
Due: unittests, CLI Module, SDK Module

fix: update for authentication (#564)
  CHANGELOG.md
  cli/src/execution/authorize.rs
  cli/src/execution/mod.rs
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
Due: unittests, CLI Module, SDK Module

fix(sdk): separate leader reimbursement authority
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/invocation.rs
Due: unittests, SDK Module

fix(toolkit): require useful tool descriptions
  cli/src/tool/mod.rs
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/templates/rust/main.rs.jinja
  cli/src/tool/tool_new.rs
  cli/src/tool/tool_validate.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tool_meta.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/tests/integration.rs
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix(sdk): wait for localnet over grpc
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

fix(toolkit): select the server tls provider
  Cargo.lock
  toolkit-rust/Cargo.toml
  toolkit-rust/src/runtime/tls.rs
Due: unittests, Toolkit Rust

fix(build): exclude local archives
  .dockerignore
Due: none

fix(sdk): complete protocol administration paths
  cli/src/network/actions.rs
  cli/src/network/mod.rs
  sdk/src/nexus/network.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/network.rs
Due: unittests, CLI Module, SDK Module

fix(sdk): bind current runtime interfaces
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/sui_framework.json
  sdk/src/move_bindings/ir/talus.json
  sdk/src/move_bindings/ir/tool.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/transactions/scheduler/command.rs
Due: unittests, SDK Module

docs: preserve append only release history
  CHANGELOG.md
  cli/src/dag/dag_inspect.rs
  sdk/src/nexus/scheduler/mod.rs
  sdk/src/nexus/scheduler/occurrence.rs
  sdk/src/transactions/invocation.rs
  sdk/src/transactions/leader.rs
Due: unittests, CLI Module, SDK Module

fix(tool): use atomic entitlement purchases
  sdk/src/move_bindings/ir/tool.json
  sdk/src/transactions/tool_cashier.rs
Due: unittests, SDK Module

fix(tap): remove obsolete vault lock state
  cli/src/tap/tap_output.rs
  sdk/src/move_bindings/extensions/tap.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/nexus/tap.rs
Due: unittests, CLI Module, SDK Module

fix(scheduler): build committed random selection flow
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/scheduler/command.rs
  sdk/src/transactions/scheduler/mod.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
