Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

fix(tap): drop selected_dag fallback for pinned skills
  sdk/src/transactions/tap.rs
Due: unittests, SDK Module

fix(tap): drop selected_dag override in new_agent_execution_policy
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

feat(scheduler): add ScheduledAgentExecutionConfig::resolve_dag
  sdk/src/nexus/scheduler.rs
Due: unittests, SDK Module

refactor(tap): clean up selected_dag plumbing after review
  CHANGELOG.md
  sdk/src/events/parsing.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/tap.rs
Due: unittests, SDK Module

update script for workbench
  cli/src/tap/mod.rs
  cli/src/tap/tap_schedule_task.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
Due: unittests, CLI Module, SDK Module

docs: updated offchain & onchain tool guides
  CHANGELOG.md
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-with-chat.md
  docs/guides/offchain-tool-development.md
  docs/guides/onchain-tool-development.md
  docs/index.md
Due: none

small fix and claude update
  CLAUDE.md
  sdk/src/idents/interface.rs
  sdk/src/idents/move_std.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/src/types/tap.rs
Due: unittests, SDK Module

add back default impl
  sdk/src/types/tap.rs
Due: unittests, SDK Module

update for onchain tool sep
  CHANGELOG.md
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/idents/sui_framework.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
  sdk/tests/move/onchain_tool_test/sources/onchain_tool_result.move
Due: unittests, CLI Module, SDK Module

update tool guides to match layout
  docs/guides/offchain-tool-development.md
  docs/guides/onchain-tool-development.md
Due: none

fix vertex candidate
  sdk/src/nexus/models.rs
Due: unittests, SDK Module

fix event poller resource exhaustion handling
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

style event poller retry handling
  sdk/src/events/polling.rs
Due: unittests, SDK Module

support auto settle/abort
  CHANGELOG.md
  cli/src/tap/mod.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_settle.rs
  docs/cli.md
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

update for clear abort
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

remove stale paras
  sdk/src/idents/generated/ir/workflow.json
Due: unittests, SDK Module

chore: release v1.0.2 metadata
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

[Bug]Fix event poller resource exhaustion handling (#494)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix: normalize dag default values
  sdk/src/dag/json.rs
Due: unittests, SDK Module

fix: restore readable dag fixtures
  sdk/src/dag/_dags/both_loops_valid.json
  sdk/src/dag/_dags/conditional_onchain_tool.json
  sdk/src/dag/_dags/double_do_while_static_valid.json
  sdk/src/dag/_dags/guide_onchain_tool.json
  sdk/src/dag/_dags/has_def_on_input_invalid.json
  sdk/src/dag/_dags/ig_story_planner_valid.json
  sdk/src/dag/_dags/math_branching.json
  sdk/src/dag/_dags/math_branching_groups.json
  sdk/src/dag/_dags/missing_break_invalid.json
  sdk/src/dag/_dags/missing_do_while_invalid.json
  sdk/src/dag/_dags/references_non_existing_vertex.json
  sdk/src/dag/_dags/trip_planner.json
Due: unittests, SDK Module

[Bug]Fix event poller resource exhaustion handling (#494)
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

fix: cherry-pick resource exhaustion (#496)
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

remove redundant types
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix deserialization
  CHANGELOG.md
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

add unregister, evidence note and remove beta
  docs/guides/offchain-tool-development.md
Due: none

update signature
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/workflow.json
Due: unittests, SDK Module

feat:update for onchain tool result (#492)
  CHANGELOG.md
  cli/src/tool/templates/move/tool.move.jinja
  cli/src/tool/tool_new.rs
  sdk/src/idents/generated/ir/interface.json
  sdk/src/idents/generated/ir/primitives.json
  sdk/src/idents/generated/ir/registry.json
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/idents/sui_framework.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/models.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/mod.rs
  sdk/src/onchain_schema_gen/types.rs
  sdk/src/transactions/dag.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
  sdk/tests/move/onchain_tool_test/sources/onchain_tool_result.move
Due: unittests, CLI Module, SDK Module

add guides
  docs/guides/agent-development.md
  docs/guides/build-agent-package-and-workflow.md
  docs/guides/build-tap-move-package.md
  docs/guides/cap-gated-tool-authorization.md
  docs/guides/execute-and-settle-agent.md
  docs/guides/inspect-and-debug-executions.md
  docs/guides/policy.md
  docs/guides/register-skill-package.md
  docs/guides/schedule-asset-management-flow.md
  docs/guides/tool-communication.md
  docs/guides/verify-offchain-tool-result.md
  docs/index.md
Due: none

fix lint
  docs/guides/tool-communication.md
Due: none

update for code clean
  CHANGELOG.md
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_settle.rs
  docs/cli.md
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

add tests
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix for http signed key
  sdk/src/signed_http/v1/engine.rs
  sdk/src/signed_http/v1/tests.rs
  sdk/src/signed_http/v1/wire.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, SDK Module, Toolkit Rust

move doc to nexus-docs
  docs/cli.md
  docs/client.md
  docs/guides/1-tap-development.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  docs/guides/agent-development.md
  docs/guides/build-agent-package-and-workflow.md
  docs/guides/build-tap-move-package.md
  docs/guides/cap-gated-tool-authorization.md
  docs/guides/dag-construction.md
  docs/guides/execute-and-settle-agent.md
  docs/guides/inspect-and-debug-executions.md
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-dag-builder.md
  docs/guides/math-branching-dag-entry.md
  docs/guides/math-branching-quickstart.md
  docs/guides/math-branching-with-chat.md
  docs/guides/onchain-tool-development.md
  docs/guides/policy.md
  docs/guides/register-skill-package.md
  docs/guides/schedule-asset-management-flow.md
  docs/guides/setup.md
  docs/guides/tool-communication.md
  docs/guides/tool-firewall.md
  docs/guides/verify-offchain-tool-result.md
  docs/index.md
  docs/tool-development.md
  docs/toolkit-rust.md
Due: none

update for broken onchain tool (#500)
  CHANGELOG.md
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_settle.rs
  docs/cli.md
  sdk/src/idents/generated/ir/workflow.json
  sdk/src/nexus/workflow.rs
  sdk/src/transactions/dag.rs
Due: unittests, CLI Module, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
