Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

clean changelog
  CHANGELOG.md
Due: none

move doc to nexus-docs (#499)
  CHANGELOG.md
  docs/cli.md
  docs/client.md
  docs/guides/1-tap-development.md
  docs/guides/2-tap-scaffold-and-package.md
  docs/guides/3-tap-transfer-tool.md
  docs/guides/4-tap-dag-and-skill-config.md
  docs/guides/5-tap-publish-and-register.md
  docs/guides/6-tap-execute-and-settle.md
  docs/guides/dag-construction.md
  docs/guides/llm-openai-chat-prep-tool.md
  docs/guides/math-branching-dag-builder.md
  docs/guides/math-branching-dag-entry.md
  docs/guides/math-branching-quickstart.md
  docs/guides/math-branching-with-chat.md
  docs/guides/onchain-tool-development.md
  docs/guides/setup.md
  docs/guides/tool-communication.md
  docs/guides/tool-firewall.md
  docs/index.md
  docs/tool-development.md
  docs/toolkit-rust.md
Due: none

fix: normalize dag default values
  sdk/src/dag/json.rs
Due: unittests, SDK Module

fix: restore readable dag fixtures
  sdk/src/dag/_dags/both_loops_valid.json
  sdk/src/dag/_dags/conditional_onchain_tool.json
  sdk/src/dag/_dags/double_do_while_static_valid.json
  sdk/src/dag/_dags/guide_onchain_tool.json
  sdk/src/dag/_dags/has_def_on_input_invalid.json
  sdk/src/dag/_dags/ig_story_planner_valid.json
  sdk/src/dag/_dags/math_branching.json
  sdk/src/dag/_dags/math_branching_groups.json
  sdk/src/dag/_dags/missing_break_invalid.json
  sdk/src/dag/_dags/missing_do_while_invalid.json
  sdk/src/dag/_dags/references_non_existing_vertex.json
  sdk/src/dag/_dags/trip_planner.json
Due: unittests, SDK Module

fix: restore tap expired-walk JSON output
  cli/src/tap/tap_output.rs
Due: unittests, CLI Module

fix: update tap abort JSON fixture
  cli/src/tap/tap_output.rs
Due: unittests, CLI Module

fix: update SDK test fixtures for binding abort flow
  sdk/src/nexus/workflow.rs
  sdk/tests/move/onchain_tool_test/sources/onchain_tool.move
  sdk/tests/move/onchain_tool_test/sources/proof_of_uid.move
Due: unittests, SDK Module

fix: use public move-binding source
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

fix: restore CLAUDE instructions from main
  CLAUDE.md
Due: none

docs: clarify generated binding extensions
  sdk/src/lib.rs
  sdk/src/move_bindings/extensions/leader_registry.rs
  sdk/src/move_bindings/extensions/mod.rs
  sdk/src/move_bindings/extensions/network_auth.rs
  sdk/src/move_bindings/extensions/nexus_data.rs
  sdk/src/move_bindings/extensions/payment.rs
  sdk/src/move_bindings/extensions/ports_data.rs
  sdk/src/move_bindings/extensions/runtime_vertex.rs
  sdk/src/move_bindings/extensions/scheduler_models.rs
  sdk/src/move_bindings/extensions/shared_object_ref.rs
  sdk/src/move_bindings/extensions/support.rs
  sdk/src/move_bindings/extensions/tap.rs
  sdk/src/move_bindings/extensions/workflow.rs
  sdk/src/move_bindings/mod.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/workflow.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v1/mod.rs
  sdk/src/transactions/agent_input.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/types/dag.rs
  sdk/src/types/tool.rs
  sdk/src/types/tool_meta.rs
Due: unittests, SDK Module

fix: redeem leader stake withdrawal
  CLAUDE.md
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/transactions/leader.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

fix: order onchain tool payment lock
  sdk/src/transactions/dag.rs
Due: unittests, SDK Module

fix: normalize err eval verifier reason
  cli/src/sui.rs
  sdk/src/nexus/registered_key.rs
Due: unittests, CLI Module, SDK Module

fix: split timeout skip reasons
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix: align tool gas abort ptb
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

fix: decode generated sui clock
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

fix: preserve walrus json helpers
  CLAUDE.md
  sdk/src/walrus/client.rs
  sdk/tests/walrus_client_test.rs
Due: unittests, SDK Module

reexport sui transaction builder
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/tests/sui_transaction_builder_reexport_test.rs
Due: unittests, SDK Module

fix schema auth proof detection
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

docs: add SDK migration guide
  sdk/MIGRATION.md
  sdk/README.md
Due: unittests, SDK Module

chore: allow ordered markdown lists
  .markdownlint.json
  sdk/MIGRATION.md
Due: unittests, SDK Module

chore: v2.0.0-rc.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

chore: v2.0.0-rc.4 (#506)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/README.md
  cli/src/tool/templates/rust/Cargo.toml.jinja
  sdk/README.md
  toolkit-rust/README.md
Due: unittests, CLI Module, SDK Module, Toolkit Rust

fix: pin Rust toolchain to 1.96.1 and bump ethnum to 1.5.3
  Cargo.lock
  rust-toolchain.toml
Due: none

feat: support source parameter names
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  sdk/.just
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/src/bin/regenerate_bindings.rs
Due: unittests, SDK Module

chore: update move binding revision
  Cargo.lock
Due: none

fix: canonicalize committed Move binding IR
  CHANGELOG.md
  CLAUDE.md
  sdk/MIGRATION.md
  sdk/src/bin/regenerate_bindings.rs
Due: unittests, SDK Module

docs: move source naming changelog entry
  CHANGELOG.md
Due: none

[Move-binding]feat/source naming (#508)
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  sdk/.just
  sdk/Cargo.toml
  sdk/MIGRATION.md
  sdk/src/bin/regenerate_bindings.rs
Due: unittests, SDK Module

fix: preserve framework binding IR
  CHANGELOG.md
  CLAUDE.md
  sdk/.just
  sdk/MIGRATION.md
  sdk/src/bin/regenerate_bindings.rs
Due: unittests, SDK Module

fix: preserve framework binding IR (#509)
  CHANGELOG.md
  CLAUDE.md
  sdk/.just
  sdk/MIGRATION.md
  sdk/src/bin/regenerate_bindings.rs
Due: unittests, SDK Module

fix : cargo.lock
  Cargo.lock
Due: none

squash to sign commit
  .typos.toml
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_execution_cost.rs
  cli/src/dag/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_schedule_task.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/tap.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

feat: implement priority fee (#465)
  .typos.toml
  CHANGELOG.md
  cli/src/dag/dag_execute.rs
  cli/src/dag/dag_execution_cost.rs
  cli/src/dag/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/sui.rs
  cli/src/tap/mod.rs
  cli/src/tap/tap_common.rs
  cli/src/tap/tap_create_skill_artifact.rs
  cli/src/tap/tap_execute.rs
  cli/src/tap/tap_output.rs
  cli/src/tap/tap_payments.rs
  cli/src/tap/tap_schedule_task.rs
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/move_bindings/extensions/tap.rs
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/ir/scheduler.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/gas.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/types/nexus_objects.rs
  sdk/src/types/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, CLI Module, SDK Module

add nonce and test for coverage
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/workflow.json
  sdk/src/move_bindings/mod.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/registered_key.rs
  sdk/src/nexus/registry.rs
  sdk/src/signed_http/mod.rs
  sdk/src/signed_http/v2/tests.rs
  sdk/src/signed_http/v2/wire.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tool.rs
  sdk/tests/tap_contract_test.rs
  toolkit-rust/src/config.rs
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, SDK Module, Toolkit Rust

address comments
  sdk/src/move_boundary/mod.rs
  sdk/src/signed_http/mod.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

Path conditions:
  unittests: any of: cli/, sdk/, toolkit-rust/, tools/, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  CLI Module: any of: cli/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  SDK Module: any of: sdk/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Toolkit Rust: any of: toolkit-rust/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
  Tools: any of: tools/**, but not: **/tests/**, **/test_*.rs, **/mock_*.rs, **/examples/**, **/benches/**, **/*.pb.rs, **/target/**, **/build.rs, **/main.rs
