Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

add support for configurable inflight
  toolkit-rust/src/runtime.rs
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

fix sdk
  toolkit-rust/src/signed_http_warp.rs
Due: unittests, Toolkit Rust

update for dag binding fix
  sdk/src/move_bindings/ir/interface.json
  sdk/src/move_bindings/ir/registry.json
  sdk/src/nexus/tap.rs
  sdk/src/transactions/tap.rs
  sdk/tests/tap_contract_test.rs
Due: unittests, SDK Module

update comments
  cli/src/gas/mod.rs
  cli/src/gas/priority.rs
  cli/src/sui.rs
  cli/src/tool/tool_register_offchain.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/events/mod.rs
  sdk/src/move_bindings/extensions/priority_fee_vault.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/nexus/gas.rs
  sdk/src/transactions/gas.rs
  sdk/src/types/priority_fee.rs
Due: unittests, CLI Module, SDK Module

update for crawler
  cli/src/prelude.rs
  cli/src/sui.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/nexus/crawler.rs
Due: unittests, CLI Module, SDK Module

update for changes
  cli/src/tool/tool_inspect.rs
  sdk/src/move_bindings/ir/registry.json
  sdk/src/move_bindings/mod.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

remove checkpoint check for execution inspection
  CHANGELOG.md
  cli/src/dag/dag_inspect_execution.rs
  sdk/MIGRATION.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

update changelog
  CHANGELOG.md
Due: none

address comments
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

add error message
  sdk/src/nexus/crawler.rs
Due: unittests, SDK Module

fix test
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

remove checkpoint check for execution inspection (#514)
  CHANGELOG.md
  cli/src/dag/dag_inspect_execution.rs
  sdk/MIGRATION.md
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, CLI Module, SDK Module

feat: atomic mock tool boostrap
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/address_balance.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/sui.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

fix: make Sui test setup configurable
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

fix: bump sui-rpc to 0.3.2
  Cargo.lock
  sdk/Cargo.toml
Due: unittests, SDK Module

feat: filter Nexus events at the Sui source
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

fix: validate Sui transaction batches
  sdk/src/events/polling.rs
Due: unittests, SDK Module

chore: prepare v1.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: update ethnum for stable Rust
  Cargo.lock
Due: none

fix: validate Sui transaction batches
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/events/polling.rs
Due: unittests, SDK Module

chore: prepare v2.0.0-rc.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: use released modular Sui SDK crates
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
Due: unittests, SDK Module

test: return complete Sui transaction batches
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

[Bug]validate `Sui` transaction batches (#517)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/nexus/workflow.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

test: return complete Sui transaction batches
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

fix: preserve US registration collateral
  CHANGELOG.md
  sdk/src/move_boundary/mod.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/tool.rs
Due: unittests, SDK Module

[Bug]validate `Sui` transaction batches (#516)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdk/src/events/polling.rs
  sdk/src/test_utils/sui_mocks.rs
Due: unittests, SDK Module

feat: generalize Sui event ingestion
  CHANGELOG.md
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/events/query.rs
  sdk/src/nexus/client.rs
  sdk/src/sui.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/mod.rs
  sdk/src/sui/events/query.rs
  sdk/src/sui/events/tests.rs
  sdk/tests/event_ingestion_api_test.rs
Due: unittests, SDK Module

refactor: simplify Nexus event selection
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/query.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/workflow.rs
Due: unittests, SDK Module

feat: expose Nexus transaction event decoding
  sdk/src/events/query.rs
Due: unittests, SDK Module

[Enhancement]`atomic mock tool boostrap` (#511)
  CHANGELOG.md
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/events/mod.rs
  sdk/src/events/parsing.rs
  sdk/src/events/polling.rs
  sdk/src/events/query.rs
  sdk/src/move_boundary/mod.rs
  sdk/src/nexus/address_balance.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crawler.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/network_auth.rs
  sdk/src/nexus/registry.rs
  sdk/src/nexus/scheduler.rs
  sdk/src/nexus/signer.rs
  sdk/src/nexus/tap.rs
  sdk/src/nexus/workflow.rs
  sdk/src/onchain_schema_gen/input.rs
  sdk/src/onchain_schema_gen/output.rs
  sdk/src/sui.rs
  sdk/src/sui/events/driver.rs
  sdk/src/sui/events/ingestor.rs
  sdk/src/sui/events/metrics.rs
  sdk/src/sui/events/mod.rs
  sdk/src/sui/events/query.rs
  sdk/src/sui/events/tests.rs
  sdk/src/test_utils/containers.rs
  sdk/src/test_utils/contracts.rs
  sdk/src/test_utils/gas.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/transactions/dag.rs
  sdk/src/transactions/leader.rs
  sdk/src/transactions/network_auth.rs
  sdk/src/transactions/scheduler.rs
  sdk/src/transactions/tap.rs
  sdk/src/transactions/tool.rs
  sdk/tests/event_ingestion_api_test.rs
Due: unittests, SDK Module

Enforce Rust dependency audit policy
  .cargo/audit.toml
  .github/workflows/audit.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  sdk/Cargo.toml
Due: unittests, SDK Module

Enforce transitive unsound advisory policy
  deny.toml
Due: none

[Security]Fix dependency audit (#520)
  .cargo/audit.toml
  .github/workflows/audit.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  sdk/Cargo.toml
Due: unittests, SDK Module

Fix Testcontainers dependency vulnerabilities
  Cargo.lock
  deny.toml
  sdk/Cargo.toml
  sdk/src/test_utils/containers.rs
Due: unittests, SDK Module

Add Testcontainers changelog entry
  CHANGELOG.md
Due: none
