Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

added limited persiatent invocation
  sdk/src/crypto/double_ratchet.rs
  sdk/src/crypto/session.rs
Due: unittests, SDK Module

remove unnecessary map
  sdk/src/types/ports_data.rs
Due: unittests, SDK Module

added cli commands for scheduling
  cli/src/dag/dag_execute.rs
  cli/src/dag/mod.rs
  cli/src/main.rs
  cli/src/scheduler/helpers.rs
  cli/src/scheduler/mod.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_disable.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_inspect.rs
  cli/src/scheduler/task/task_metadata.rs
  cli/src/scheduler/task/task_state.rs
  cli/src/workflow/mod.rs
  docs/cli.md
  sdk/src/transactions/scheduler.rs
Due: unittests, CLI Module, SDK Module

updated changelog
  CHANGELOG.md
Due: none

removed docs from changelog
  CHANGELOG.md
Due: none

refractor cli commands
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/occurrence/occurrence_add.rs
  cli/src/scheduler/periodic/mod.rs
  cli/src/scheduler/periodic/periodic_disable.rs
  cli/src/scheduler/periodic/periodic_set.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_inspect.rs
  cli/src/scheduler/task/task_metadata.rs
  cli/src/scheduler/task/task_state.rs
Due: unittests, CLI Module

dispay for task request type
  cli/src/scheduler/task/task_state.rs
Due: unittests, CLI Module

Update sdk/src/transactions/scheduler.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

refractor scheduler transctions
  cli/src/scheduler/helpers.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/scheduler/task/task_metadata.rs
  sdk/src/idents/move_std.rs
  sdk/src/idents/primitives.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/scheduler.rs
Due: unittests, CLI Module, SDK Module

refractor helper commands
  cli/src/scheduler/helpers.rs
  cli/src/scheduler/occurrence/mod.rs
  cli/src/scheduler/task/mod.rs
  cli/src/scheduler/task/task_create.rs
Due: unittests, CLI Module

refractor transactions
  sdk/src/transactions/scheduler.rs
Due: unittests, SDK Module

fix command and visibility
  cli/src/scheduler/task/task_state.rs
  sdk/src/object_crawler/fetching.rs
Due: unittests, CLI Module, SDK Module

feat: add tests for onchain arg types
  sdk/src/onchain_schema_gen/types.rs
Due: unittests, SDK Module

feat: add import for sui U256
  sdk/src/sui.rs
Due: unittests, SDK Module

feat: add nexus data support for large numbers
  sdk/src/types/serde_parsers.rs
Due: unittests, SDK Module

added some comments
  sdk/src/types/scheduler.rs
Due: unittests, SDK Module

add keyring feature flag
  Cargo.lock
  cli/Cargo.toml
Due: unittests, CLI Module

feat : initialize empty tool structure for create prompt-template tool
  Cargo.lock
  tools/prompt-template/Cargo.toml
  tools/prompt-template/README.md
  tools/prompt-template/src/main.rs
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix keyring flag
  Cargo.lock
  cli/Cargo.toml
Due: unittests, CLI Module

refractor command code
  cli/src/dag/dag_execute.rs
  cli/src/scheduler/task/task_create.rs
  cli/src/workflow/mod.rs
Due: unittests, CLI Module

more comments
  sdk/src/types/scheduler.rs
Due: unittests, SDK Module

feat : minijinja integration for template tool.
  Cargo.lock
  tools/prompt-template/Cargo.toml
  tools/prompt-template/src/template.rs
Due: unittests, Tools

revert feature flag due to build complexity
  Cargo.lock
  cli/Cargo.toml
Due: unittests, CLI Module

added come minor comments
  sdk/src/types/scheduler.rs
Due: unittests, SDK Module

wip nexus client
  sdk/Cargo.toml
  sdk/src/lib.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/mod.rs
Due: unittests, SDK Module

refactor(template): update Input struct to support optional args and enhance validation logic
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix(template): update path for new prompt-template endpoint
  tools/prompt-template/src/template.rs
Due: unittests, Tools

added gas add budget action
  cli/src/error.rs
  cli/src/gas/gas_add_budget.rs
  cli/src/sui.rs
  sdk/Cargo.toml
  sdk/src/nexus/client.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/gas.rs
  sdk/src/nexus/mod.rs
  sdk/src/test_utils/sui_mocks.rs
  sdk/src/test_utils/wallet.rs
Due: unittests, CLI Module, SDK Module

docs: add comprehensive README for prompt template tool
  tools/prompt-template/README.md
Due: unittests, Tools

fix: correct description of prompt template tool
  tools/prompt-template/README.md
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix(template): update prompt-template path to remove redundant segment
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix: update fully qualified name for prompt-template tool
  tools/prompt-template/src/template.rs
Due: unittests, Tools

fix: update error handling to use 'reason' instead of 'message'
  tools/prompt-template/README.md
  tools/prompt-template/src/template.rs
Due: unittests, Tools

refactor: make Input struct fields private for encapsulation
  tools/prompt-template/src/template.rs
Due: unittests, Tools

crypto wip
  cli/src/crypto/crypto_auth.rs
  cli/src/gas/gas_add_budget.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/error.rs
  sdk/src/nexus/mod.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module

use david's deser
  sdk/src/crypto/x3dh.rs
Due: unittests, SDK Module

revert option deser
  sdk/src/crypto/x3dh.rs
Due: unittests, SDK Module

remove loggin statement
  sdk/src/nexus/crypto.rs
Due: unittests, SDK Module

bumb nexus sdk version
  Cargo.lock
  Cargo.toml
Due: none

dag publish
  cli/src/dag/dag_publish.rs
  sdk/src/nexus/client.rs
  sdk/src/nexus/crypto.rs
  sdk/src/nexus/workflow.rs
Due: unittests, CLI Module, SDK Module
