Repository Talus-Network/nexus-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CLI Module, SDK Module, Toolkit Rust, Tools

codecov.yml:

# codecov.yml

# Coverage precision
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still be green
        threshold: 1%
        target: auto # Compares to base branch
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for the patch (new/modified code)
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 10% # Allow 10% drop for edge cases
        base: auto
        if_ci_failed: error
        informational: false

# Component-specific coverage (optional)
component_management:
  individual_components:
    - component_id: cli
      name: CLI Module
      paths:
        - cli/**
    - component_id: sdk
      name: SDK Module
      paths:
        - sdk/**
    - component_id: toolkit
      name: Toolkit Rust
      paths:
        - toolkit-rust/**
    - component_id: tools
      name: Tools
      paths:
        - tools/**

# Comment configuration
comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default # Update comment as commits are pushed
  require_changes: true # Only comment when coverage changes
  require_base: true # Only comment if base coverage exists
  require_head: true # Only comment if head coverage exists
  hide_project_coverage: false
  hide_patch_coverage: false
  hide_complexity: false # Show cyclomatic complexity if available

# File ignores
ignore:
  - "**/tests/**" # Test files themselves
  - "**/test_*.rs"
  - "**/mock_*.rs"
  - "**/examples/**"
  - "**/benches/**"
  - "**/*.pb.rs" # Generated protobuf files
  - "**/target/**"
  - "**/build.rs"
  - "**/main.rs" # Sometimes main.rs is just a thin entry point

# Flag configuration (useful for different test types)
flags:
  unittests:
    paths:
      - cli/
      - sdk/
      - toolkit-rust/
      - tools/
    carryforward: true # Use coverage from base if tests don't run

# GitHub Checks
github_checks:
  annotations: true # Show coverage annotations in PR files view

# Codecov.io UI settings
ui:
  hide_density: false # Show line density graph
  hide_complexity: false # Show code complexity
  hide_contextual: false # Show contextual information
  hide_sunburst: false # Show sunburst graph
  hide_search: false # Show search functionality

feat: add issue nr for todos
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

fix: support linked table in obeject crawler
  Cargo.lock
  Cargo.toml
  sdk/src/object_crawler/wrappers.rs
  sdk/tests/move/object_crawler_test/sources/main.move
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

changelog
  CHANGELOG.md
Due: none

make cli codecov information
  codecov.yml
Due: none

update broken toolkit-rust links
  toolkit-rust/src/lib.rs
  toolkit-rust/src/nexus_tool.rs
  toolkit-rust/src/runtime.rs
Due: unittests, Toolkit Rust

Fix the `cli/` separation in codecov config
  codecov.yml
Due: none

feat: add more pre-commit checks
  .pre-commit/.just
  .pre-commit/07-check-shebang
  .pre-commit/08-check-just-shebang
  .pre-commit/09-typos
  .typos.toml
  cli/src/gas/gas_expiry_buy_ticket.rs
  just/_helpers.just
  sdk/src/crypto/session.rs
Due: unittests, CLI Module, SDK Module

log to stderr
  .pre-commit/.just
Due: none

revert: undo stub function for coverage
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

chore: add todo issue for new functions
  cli/src/gas/tickets/limited_invocations/buy_ticket.rs
  cli/src/gas/tickets/limited_invocations/disable.rs
  cli/src/gas/tickets/limited_invocations/enable.rs
Due: unittests, CLI Module

add a TODO ticket
  .pre-commit/.just
Due: none

chore: consistent reporting
  .pre-commit/.just
Due: none

review: remove redundant check
  .pre-commit/.just
  .pre-commit/00-toolchain-version
Due: none

update actions
  .github/workflows/audit.yml
  .github/workflows/cli.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/coverage.yaml
  .github/workflows/detect_changes.yml
  .github/workflows/markdown_format.yml
  .github/workflows/sdk.yml
  .github/workflows/sync_docs.yml
  .github/workflows/toolkit-rust.yml
  .github/workflows/tools.yml
Due: none

run audit only if files changed
  .github/workflows/audit.yml
Due: none

docs: update contribution guidelines for commit messages
  CONTRIBUTING.md
Due: none

docs: add release process and versioning strategy
  RELEASING.md
Due: none

Update gas.rs
  sdk/src/transactions/gas.rs
Due: unittests, SDK Module

fix: markdown formatting
  RELEASING.md
Due: none

trigger audit dependencies on Pull request trigger
  .github/workflows/audit.yml
Due: none

WIP
  sdk/src/object_crawler/wrappers.rs
Due: unittests, SDK Module

chore: update pre-commit hook
  .pre-commit/pre-commit
Due: none

feat: add pre-commit check for docker
  .gitignore
  .pre-commit/.just
  .pre-commit/04-check-docker
  .pre-commit/05-cargo-nextest-build
  .pre-commit/06-cargo-nextest-run
  .pre-commit/07-md-lint
  .pre-commit/08-check-shebang
  .pre-commit/09-check-just-shebang
  .pre-commit/10-typos
  just/_helpers.just
Due: none

fix: remove unneeded stuff
  .pre-commit/.just
Due: none

chore: handle other container runtimes than docker
  .pre-commit/.just
  .pre-commit/04-check-container-runtime
  .pre-commit/04-check-docker
  just/_helpers.just
Due: none

fix typo in "dependent"
  docs/toolkit-rust.md
Due: none

WIP
  sdk/Cargo.toml
  sdk/src/object_crawler/fetching.rs
  sdk/src/object_crawler/wrappers.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

factor our common deserilization code
  .pre-commit/.just
  sdk/src/object_crawler/wrappers.rs
Due: unittests, SDK Module

chore: fix fmt and remove printlns
  sdk/Cargo.toml
  sdk/src/object_crawler/fetching.rs
  sdk/tests/object_crawler_test.rs
Due: unittests, SDK Module

chore: enable "macros" tokio feature to run "#[tokio::test]" from the IDE
  sdk/Cargo.toml
Due: unittests, SDK Module

Update README.md
  README.md
Due: none

feat: add standalone onchain tool publishing to cli
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/idents/workflow.rs
  sdk/src/transactions/tool.rs
Due: unittests, CLI Module, SDK Module

add automatic input schema generation
  cli/src/tool/mod.rs
  cli/src/tool/tool_register_onchain.rs
  sdk/src/sui.rs
Due: unittests, CLI Module, SDK Module

WIP
  .github/workflows/pre-commit.yml
  .pre-commit/.just
Due: none

WIP
  .github/workflows/pre-commit.yml
Due: none

WIP
  .pre-commit/.just
Due: none
